.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

#editorWrapper {
  margin: 0 auto;
  text-align: center;
}

#editorWrapper .formTitle,
#editorWrapper .formDescription,
#editorWrapper #resultText,
#editorWrapper .checkbox,
#editorWrapper input[type="submit"],
#editorWrapper .formArticleBreaker,
#editorWrapper #editorPanel {
  margin: 0 auto;
  position: relative;
}

#editorWrapper .formTitle,
#editorWrapper .formDescription,
#editorWrapper .formFile {
  position: relative;
  margin: 1.2rem auto;
}

#editorWrapper .formTitle::after,
#editorWrapper .formDescription::after,
#editorWrapper .formFile::after {
  content: "*";
  color: red;
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

#editorWrapper .formTitle input[type="text"],
#editorWrapper .formTitle input[type="file"],
#editorWrapper .formDescription input[type="text"],
#editorWrapper .formDescription input[type="file"],
#editorWrapper .formFile input[type="text"],
#editorWrapper .formFile input[type="file"] {
  width: 100%;
  font-size: 1.3em;
  padding: 0.6rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

#editorWrapper .formTitle input[type="file"],
#editorWrapper .formDescription input[type="file"],
#editorWrapper .formFile input[type="file"] {
  font-size: 1em;
  border: 1px solid #DDD;
  background: #DDD;
}

#editorWrapper .formTitle .require,
#editorWrapper .formDescription .require,
#editorWrapper .formFile .require {
  position: absolute;
  top: 30%;
  left: 100%;
  font-size: 1.6em;
  color: red;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#editorWrapper .formTitle .form-sentence,
#editorWrapper .formDescription .form-sentence,
#editorWrapper .formFile .form-sentence {
  text-align: left;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#editorWrapper .formTitle .charRemain,
#editorWrapper .formDescription .charRemain,
#editorWrapper .formFile .charRemain {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#editorWrapper #editorPanel {
  background: #ddd;
  margin: 1.2em auto 0 auto;
  padding: 0.6rem;
  font-size: 1.1em;
  color: #666;
  text-align: left;
  border-width: 1px 1px 0px 1px;
  border-color: #111;
  border-style: solid;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#editorWrapper #editorPanel .editorSection {
  border-width: 0px 1px 0px 1px;
  border-color: #bbb;
  border-style: solid;
  padding: 0 .2em;
  margin: .2em;
  display: inline-block;
  vertical-align: middle;
}

#editorWrapper #editorPanel .editorSection input[type="color"] {
  border: 1px #DDD solid;
  width: 30px;
  padding: 0;
  vertical-align: middle;
}

#editorWrapper #editorPanel .editorSection .editorValue {
  padding: 0.6rem;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: background, color;
  transition-property: background, color;
}

#editorWrapper #editorPanel .editorSection .editorValue:hover {
  background: #71BEEE;
  color: white;
}

#editorWrapper #editorPanel .editorSection .editorValue > i {
  vertical-align: middle;
}

#editorWrapper #editorPanel .editorSection:first-child {
  border: none;
}

#editorWrapper #editorPanel .editorSection select[name="fontSizeSelector"] {
  width: 60px;
}

#editorWrapper #resultText {
  min-width: 100%;
  max-width: 100%;
  min-height: 800px;
  background: #FFF;
  font-size: 1.1em;
  text-align: left;
  padding: 0.6rem;
  border-width: 0px 1px 1px 1px;
  border-color: #111;
  border-style: solid;
}

#editorWrapper .checkbox {
  text-align: left;
  padding: .10em;
}

#editorWrapper .checkbox input,
#editorWrapper .checkbox span {
  vertical-align: middle;
}

#editorWrapper .checkbox span {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#editorWrapper input[type="submit"] {
  padding: 0.6rem;
  background-color: #25D63D;
  border-width: 1px 1px 1px 1px;
  border-color: #222;
  border-style: solid;
  cursor: pointer;
}

#editorWrapper input[type="submit"]:hover {
  background-color: #27E341;
}

#editorWrapper .formArticleBreaker {
  color: rgba(0, 0, 0, 0.1);
  margin: .6em auto .6em auto !important;
}

ol > li {
  list-style-type: decimal !important;
  list-style: inside;
}

ul > li {
  list-style-type: disc !important;
  list-style: inside;
}

