@import url(https://fonts.googleapis.com/css?family=Lato:400,900&subset=latin-ext);@charset "UTF-8";

/*!
 * Font Awesome Free 5.0.10 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -.0667em;
}

.fa-xs {
  font-size: .75em;
}

.fa-sm {
  font-size: .875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */

.fa-500px:before {
  content: "\F26E";
}

.fa-accessible-icon:before {
  content: "\F368";
}

.fa-accusoft:before {
  content: "\F369";
}

.fa-address-book:before {
  content: "\F2B9";
}

.fa-address-card:before {
  content: "\F2BB";
}

.fa-adjust:before {
  content: "\F042";
}

.fa-adn:before {
  content: "\F170";
}

.fa-adversal:before {
  content: "\F36A";
}

.fa-affiliatetheme:before {
  content: "\F36B";
}

.fa-algolia:before {
  content: "\F36C";
}

.fa-align-center:before {
  content: "\F037";
}

.fa-align-justify:before {
  content: "\F039";
}

.fa-align-left:before {
  content: "\F036";
}

.fa-align-right:before {
  content: "\F038";
}

.fa-allergies:before {
  content: "\F461";
}

.fa-amazon:before {
  content: "\F270";
}

.fa-amazon-pay:before {
  content: "\F42C";
}

.fa-ambulance:before {
  content: "\F0F9";
}

.fa-american-sign-language-interpreting:before {
  content: "\F2A3";
}

.fa-amilia:before {
  content: "\F36D";
}

.fa-anchor:before {
  content: "\F13D";
}

.fa-android:before {
  content: "\F17B";
}

.fa-angellist:before {
  content: "\F209";
}

.fa-angle-double-down:before {
  content: "\F103";
}

.fa-angle-double-left:before {
  content: "\F100";
}

.fa-angle-double-right:before {
  content: "\F101";
}

.fa-angle-double-up:before {
  content: "\F102";
}

.fa-angle-down:before {
  content: "\F107";
}

.fa-angle-left:before {
  content: "\F104";
}

.fa-angle-right:before {
  content: "\F105";
}

.fa-angle-up:before {
  content: "\F106";
}

.fa-angrycreative:before {
  content: "\F36E";
}

.fa-angular:before {
  content: "\F420";
}

.fa-app-store:before {
  content: "\F36F";
}

.fa-app-store-ios:before {
  content: "\F370";
}

.fa-apper:before {
  content: "\F371";
}

.fa-apple:before {
  content: "\F179";
}

.fa-apple-pay:before {
  content: "\F415";
}

.fa-archive:before {
  content: "\F187";
}

.fa-arrow-alt-circle-down:before {
  content: "\F358";
}

.fa-arrow-alt-circle-left:before {
  content: "\F359";
}

.fa-arrow-alt-circle-right:before {
  content: "\F35A";
}

.fa-arrow-alt-circle-up:before {
  content: "\F35B";
}

.fa-arrow-circle-down:before {
  content: "\F0AB";
}

.fa-arrow-circle-left:before {
  content: "\F0A8";
}

.fa-arrow-circle-right:before {
  content: "\F0A9";
}

.fa-arrow-circle-up:before {
  content: "\F0AA";
}

.fa-arrow-down:before {
  content: "\F063";
}

.fa-arrow-left:before {
  content: "\F060";
}

.fa-arrow-right:before {
  content: "\F061";
}

.fa-arrow-up:before {
  content: "\F062";
}

.fa-arrows-alt:before {
  content: "\F0B2";
}

.fa-arrows-alt-h:before {
  content: "\F337";
}

.fa-arrows-alt-v:before {
  content: "\F338";
}

.fa-assistive-listening-systems:before {
  content: "\F2A2";
}

.fa-asterisk:before {
  content: "\F069";
}

.fa-asymmetrik:before {
  content: "\F372";
}

.fa-at:before {
  content: "\F1FA";
}

.fa-audible:before {
  content: "\F373";
}

.fa-audio-description:before {
  content: "\F29E";
}

.fa-autoprefixer:before {
  content: "\F41C";
}

.fa-avianex:before {
  content: "\F374";
}

.fa-aviato:before {
  content: "\F421";
}

.fa-aws:before {
  content: "\F375";
}

.fa-backward:before {
  content: "\F04A";
}

.fa-balance-scale:before {
  content: "\F24E";
}

.fa-ban:before {
  content: "\F05E";
}

.fa-band-aid:before {
  content: "\F462";
}

.fa-bandcamp:before {
  content: "\F2D5";
}

.fa-barcode:before {
  content: "\F02A";
}

.fa-bars:before {
  content: "\F0C9";
}

.fa-baseball-ball:before {
  content: "\F433";
}

.fa-basketball-ball:before {
  content: "\F434";
}

.fa-bath:before {
  content: "\F2CD";
}

.fa-battery-empty:before {
  content: "\F244";
}

.fa-battery-full:before {
  content: "\F240";
}

.fa-battery-half:before {
  content: "\F242";
}

.fa-battery-quarter:before {
  content: "\F243";
}

.fa-battery-three-quarters:before {
  content: "\F241";
}

.fa-bed:before {
  content: "\F236";
}

.fa-beer:before {
  content: "\F0FC";
}

.fa-behance:before {
  content: "\F1B4";
}

.fa-behance-square:before {
  content: "\F1B5";
}

.fa-bell:before {
  content: "\F0F3";
}

.fa-bell-slash:before {
  content: "\F1F6";
}

.fa-bicycle:before {
  content: "\F206";
}

.fa-bimobject:before {
  content: "\F378";
}

.fa-binoculars:before {
  content: "\F1E5";
}

.fa-birthday-cake:before {
  content: "\F1FD";
}

.fa-bitbucket:before {
  content: "\F171";
}

.fa-bitcoin:before {
  content: "\F379";
}

.fa-bity:before {
  content: "\F37A";
}

.fa-black-tie:before {
  content: "\F27E";
}

.fa-blackberry:before {
  content: "\F37B";
}

.fa-blind:before {
  content: "\F29D";
}

.fa-blogger:before {
  content: "\F37C";
}

.fa-blogger-b:before {
  content: "\F37D";
}

.fa-bluetooth:before {
  content: "\F293";
}

.fa-bluetooth-b:before {
  content: "\F294";
}

.fa-bold:before {
  content: "\F032";
}

.fa-bolt:before {
  content: "\F0E7";
}

.fa-bomb:before {
  content: "\F1E2";
}

.fa-book:before {
  content: "\F02D";
}

.fa-bookmark:before {
  content: "\F02E";
}

.fa-bowling-ball:before {
  content: "\F436";
}

.fa-box:before {
  content: "\F466";
}

.fa-box-open:before {
  content: "\F49E";
}

.fa-boxes:before {
  content: "\F468";
}

.fa-braille:before {
  content: "\F2A1";
}

.fa-briefcase:before {
  content: "\F0B1";
}

.fa-briefcase-medical:before {
  content: "\F469";
}

.fa-btc:before {
  content: "\F15A";
}

.fa-bug:before {
  content: "\F188";
}

.fa-building:before {
  content: "\F1AD";
}

.fa-bullhorn:before {
  content: "\F0A1";
}

.fa-bullseye:before {
  content: "\F140";
}

.fa-burn:before {
  content: "\F46A";
}

.fa-buromobelexperte:before {
  content: "\F37F";
}

.fa-bus:before {
  content: "\F207";
}

.fa-buysellads:before {
  content: "\F20D";
}

.fa-calculator:before {
  content: "\F1EC";
}

.fa-calendar:before {
  content: "\F133";
}

.fa-calendar-alt:before {
  content: "\F073";
}

.fa-calendar-check:before {
  content: "\F274";
}

.fa-calendar-minus:before {
  content: "\F272";
}

.fa-calendar-plus:before {
  content: "\F271";
}

.fa-calendar-times:before {
  content: "\F273";
}

.fa-camera:before {
  content: "\F030";
}

.fa-camera-retro:before {
  content: "\F083";
}

.fa-capsules:before {
  content: "\F46B";
}

.fa-car:before {
  content: "\F1B9";
}

.fa-caret-down:before {
  content: "\F0D7";
}

.fa-caret-left:before {
  content: "\F0D9";
}

.fa-caret-right:before {
  content: "\F0DA";
}

.fa-caret-square-down:before {
  content: "\F150";
}

.fa-caret-square-left:before {
  content: "\F191";
}

.fa-caret-square-right:before {
  content: "\F152";
}

.fa-caret-square-up:before {
  content: "\F151";
}

.fa-caret-up:before {
  content: "\F0D8";
}

.fa-cart-arrow-down:before {
  content: "\F218";
}

.fa-cart-plus:before {
  content: "\F217";
}

.fa-cc-amazon-pay:before {
  content: "\F42D";
}

.fa-cc-amex:before {
  content: "\F1F3";
}

.fa-cc-apple-pay:before {
  content: "\F416";
}

.fa-cc-diners-club:before {
  content: "\F24C";
}

.fa-cc-discover:before {
  content: "\F1F2";
}

.fa-cc-jcb:before {
  content: "\F24B";
}

.fa-cc-mastercard:before {
  content: "\F1F1";
}

.fa-cc-paypal:before {
  content: "\F1F4";
}

.fa-cc-stripe:before {
  content: "\F1F5";
}

.fa-cc-visa:before {
  content: "\F1F0";
}

.fa-centercode:before {
  content: "\F380";
}

.fa-certificate:before {
  content: "\F0A3";
}

.fa-chart-area:before {
  content: "\F1FE";
}

.fa-chart-bar:before {
  content: "\F080";
}

.fa-chart-line:before {
  content: "\F201";
}

.fa-chart-pie:before {
  content: "\F200";
}

.fa-check:before {
  content: "\F00C";
}

.fa-check-circle:before {
  content: "\F058";
}

.fa-check-square:before {
  content: "\F14A";
}

.fa-chess:before {
  content: "\F439";
}

.fa-chess-bishop:before {
  content: "\F43A";
}

.fa-chess-board:before {
  content: "\F43C";
}

.fa-chess-king:before {
  content: "\F43F";
}

.fa-chess-knight:before {
  content: "\F441";
}

.fa-chess-pawn:before {
  content: "\F443";
}

.fa-chess-queen:before {
  content: "\F445";
}

.fa-chess-rook:before {
  content: "\F447";
}

.fa-chevron-circle-down:before {
  content: "\F13A";
}

.fa-chevron-circle-left:before {
  content: "\F137";
}

.fa-chevron-circle-right:before {
  content: "\F138";
}

.fa-chevron-circle-up:before {
  content: "\F139";
}

.fa-chevron-down:before {
  content: "\F078";
}

.fa-chevron-left:before {
  content: "\F053";
}

.fa-chevron-right:before {
  content: "\F054";
}

.fa-chevron-up:before {
  content: "\F077";
}

.fa-child:before {
  content: "\F1AE";
}

.fa-chrome:before {
  content: "\F268";
}

.fa-circle:before {
  content: "\F111";
}

.fa-circle-notch:before {
  content: "\F1CE";
}

.fa-clipboard:before {
  content: "\F328";
}

.fa-clipboard-check:before {
  content: "\F46C";
}

.fa-clipboard-list:before {
  content: "\F46D";
}

.fa-clock:before {
  content: "\F017";
}

.fa-clone:before {
  content: "\F24D";
}

.fa-closed-captioning:before {
  content: "\F20A";
}

.fa-cloud:before {
  content: "\F0C2";
}

.fa-cloud-download-alt:before {
  content: "\F381";
}

.fa-cloud-upload-alt:before {
  content: "\F382";
}

.fa-cloudscale:before {
  content: "\F383";
}

.fa-cloudsmith:before {
  content: "\F384";
}

.fa-cloudversify:before {
  content: "\F385";
}

.fa-code:before {
  content: "\F121";
}

.fa-code-branch:before {
  content: "\F126";
}

.fa-codepen:before {
  content: "\F1CB";
}

.fa-codiepie:before {
  content: "\F284";
}

.fa-coffee:before {
  content: "\F0F4";
}

.fa-cog:before {
  content: "\F013";
}

.fa-cogs:before {
  content: "\F085";
}

.fa-columns:before {
  content: "\F0DB";
}

.fa-comment:before {
  content: "\F075";
}

.fa-comment-alt:before {
  content: "\F27A";
}

.fa-comment-dots:before {
  content: "\F4AD";
}

.fa-comment-slash:before {
  content: "\F4B3";
}

.fa-comments:before {
  content: "\F086";
}

.fa-compass:before {
  content: "\F14E";
}

.fa-compress:before {
  content: "\F066";
}

.fa-connectdevelop:before {
  content: "\F20E";
}

.fa-contao:before {
  content: "\F26D";
}

.fa-copy:before {
  content: "\F0C5";
}

.fa-copyright:before {
  content: "\F1F9";
}

.fa-couch:before {
  content: "\F4B8";
}

.fa-cpanel:before {
  content: "\F388";
}

.fa-creative-commons:before {
  content: "\F25E";
}

.fa-credit-card:before {
  content: "\F09D";
}

.fa-crop:before {
  content: "\F125";
}

.fa-crosshairs:before {
  content: "\F05B";
}

.fa-css3:before {
  content: "\F13C";
}

.fa-css3-alt:before {
  content: "\F38B";
}

.fa-cube:before {
  content: "\F1B2";
}

.fa-cubes:before {
  content: "\F1B3";
}

.fa-cut:before {
  content: "\F0C4";
}

.fa-cuttlefish:before {
  content: "\F38C";
}

.fa-d-and-d:before {
  content: "\F38D";
}

.fa-dashcube:before {
  content: "\F210";
}

.fa-database:before {
  content: "\F1C0";
}

.fa-deaf:before {
  content: "\F2A4";
}

.fa-delicious:before {
  content: "\F1A5";
}

.fa-deploydog:before {
  content: "\F38E";
}

.fa-deskpro:before {
  content: "\F38F";
}

.fa-desktop:before {
  content: "\F108";
}

.fa-deviantart:before {
  content: "\F1BD";
}

.fa-diagnoses:before {
  content: "\F470";
}

.fa-digg:before {
  content: "\F1A6";
}

.fa-digital-ocean:before {
  content: "\F391";
}

.fa-discord:before {
  content: "\F392";
}

.fa-discourse:before {
  content: "\F393";
}

.fa-dna:before {
  content: "\F471";
}

.fa-dochub:before {
  content: "\F394";
}

.fa-docker:before {
  content: "\F395";
}

.fa-dollar-sign:before {
  content: "\F155";
}

.fa-dolly:before {
  content: "\F472";
}

.fa-dolly-flatbed:before {
  content: "\F474";
}

.fa-donate:before {
  content: "\F4B9";
}

.fa-dot-circle:before {
  content: "\F192";
}

.fa-dove:before {
  content: "\F4BA";
}

.fa-download:before {
  content: "\F019";
}

.fa-draft2digital:before {
  content: "\F396";
}

.fa-dribbble:before {
  content: "\F17D";
}

.fa-dribbble-square:before {
  content: "\F397";
}

.fa-dropbox:before {
  content: "\F16B";
}

.fa-drupal:before {
  content: "\F1A9";
}

.fa-dyalog:before {
  content: "\F399";
}

.fa-earlybirds:before {
  content: "\F39A";
}

.fa-edge:before {
  content: "\F282";
}

.fa-edit:before {
  content: "\F044";
}

.fa-eject:before {
  content: "\F052";
}

.fa-elementor:before {
  content: "\F430";
}

.fa-ellipsis-h:before {
  content: "\F141";
}

.fa-ellipsis-v:before {
  content: "\F142";
}

.fa-ember:before {
  content: "\F423";
}

.fa-empire:before {
  content: "\F1D1";
}

.fa-envelope:before {
  content: "\F0E0";
}

.fa-envelope-open:before {
  content: "\F2B6";
}

.fa-envelope-square:before {
  content: "\F199";
}

.fa-envira:before {
  content: "\F299";
}

.fa-eraser:before {
  content: "\F12D";
}

.fa-erlang:before {
  content: "\F39D";
}

.fa-ethereum:before {
  content: "\F42E";
}

.fa-etsy:before {
  content: "\F2D7";
}

.fa-euro-sign:before {
  content: "\F153";
}

.fa-exchange-alt:before {
  content: "\F362";
}

.fa-exclamation:before {
  content: "\F12A";
}

.fa-exclamation-circle:before {
  content: "\F06A";
}

.fa-exclamation-triangle:before {
  content: "\F071";
}

.fa-expand:before {
  content: "\F065";
}

.fa-expand-arrows-alt:before {
  content: "\F31E";
}

.fa-expeditedssl:before {
  content: "\F23E";
}

.fa-external-link-alt:before {
  content: "\F35D";
}

.fa-external-link-square-alt:before {
  content: "\F360";
}

.fa-eye:before {
  content: "\F06E";
}

.fa-eye-dropper:before {
  content: "\F1FB";
}

.fa-eye-slash:before {
  content: "\F070";
}

.fa-facebook:before {
  content: "\F09A";
}

.fa-facebook-f:before {
  content: "\F39E";
}

.fa-facebook-messenger:before {
  content: "\F39F";
}

.fa-facebook-square:before {
  content: "\F082";
}

.fa-fast-backward:before {
  content: "\F049";
}

.fa-fast-forward:before {
  content: "\F050";
}

.fa-fax:before {
  content: "\F1AC";
}

.fa-female:before {
  content: "\F182";
}

.fa-fighter-jet:before {
  content: "\F0FB";
}

.fa-file:before {
  content: "\F15B";
}

.fa-file-alt:before {
  content: "\F15C";
}

.fa-file-archive:before {
  content: "\F1C6";
}

.fa-file-audio:before {
  content: "\F1C7";
}

.fa-file-code:before {
  content: "\F1C9";
}

.fa-file-excel:before {
  content: "\F1C3";
}

.fa-file-image:before {
  content: "\F1C5";
}

.fa-file-medical:before {
  content: "\F477";
}

.fa-file-medical-alt:before {
  content: "\F478";
}

.fa-file-pdf:before {
  content: "\F1C1";
}

.fa-file-powerpoint:before {
  content: "\F1C4";
}

.fa-file-video:before {
  content: "\F1C8";
}

.fa-file-word:before {
  content: "\F1C2";
}

.fa-film:before {
  content: "\F008";
}

.fa-filter:before {
  content: "\F0B0";
}

.fa-fire:before {
  content: "\F06D";
}

.fa-fire-extinguisher:before {
  content: "\F134";
}

.fa-firefox:before {
  content: "\F269";
}

.fa-first-aid:before {
  content: "\F479";
}

.fa-first-order:before {
  content: "\F2B0";
}

.fa-firstdraft:before {
  content: "\F3A1";
}

.fa-flag:before {
  content: "\F024";
}

.fa-flag-checkered:before {
  content: "\F11E";
}

.fa-flask:before {
  content: "\F0C3";
}

.fa-flickr:before {
  content: "\F16E";
}

.fa-flipboard:before {
  content: "\F44D";
}

.fa-fly:before {
  content: "\F417";
}

.fa-folder:before {
  content: "\F07B";
}

.fa-folder-open:before {
  content: "\F07C";
}

.fa-font:before {
  content: "\F031";
}

.fa-font-awesome:before {
  content: "\F2B4";
}

.fa-font-awesome-alt:before {
  content: "\F35C";
}

.fa-font-awesome-flag:before {
  content: "\F425";
}

.fa-fonticons:before {
  content: "\F280";
}

.fa-fonticons-fi:before {
  content: "\F3A2";
}

.fa-football-ball:before {
  content: "\F44E";
}

.fa-fort-awesome:before {
  content: "\F286";
}

.fa-fort-awesome-alt:before {
  content: "\F3A3";
}

.fa-forumbee:before {
  content: "\F211";
}

.fa-forward:before {
  content: "\F04E";
}

.fa-foursquare:before {
  content: "\F180";
}

.fa-free-code-camp:before {
  content: "\F2C5";
}

.fa-freebsd:before {
  content: "\F3A4";
}

.fa-frown:before {
  content: "\F119";
}

.fa-futbol:before {
  content: "\F1E3";
}

.fa-gamepad:before {
  content: "\F11B";
}

.fa-gavel:before {
  content: "\F0E3";
}

.fa-gem:before {
  content: "\F3A5";
}

.fa-genderless:before {
  content: "\F22D";
}

.fa-get-pocket:before {
  content: "\F265";
}

.fa-gg:before {
  content: "\F260";
}

.fa-gg-circle:before {
  content: "\F261";
}

.fa-gift:before {
  content: "\F06B";
}

.fa-git:before {
  content: "\F1D3";
}

.fa-git-square:before {
  content: "\F1D2";
}

.fa-github:before {
  content: "\F09B";
}

.fa-github-alt:before {
  content: "\F113";
}

.fa-github-square:before {
  content: "\F092";
}

.fa-gitkraken:before {
  content: "\F3A6";
}

.fa-gitlab:before {
  content: "\F296";
}

.fa-gitter:before {
  content: "\F426";
}

.fa-glass-martini:before {
  content: "\F000";
}

.fa-glide:before {
  content: "\F2A5";
}

.fa-glide-g:before {
  content: "\F2A6";
}

.fa-globe:before {
  content: "\F0AC";
}

.fa-gofore:before {
  content: "\F3A7";
}

.fa-golf-ball:before {
  content: "\F450";
}

.fa-goodreads:before {
  content: "\F3A8";
}

.fa-goodreads-g:before {
  content: "\F3A9";
}

.fa-google:before {
  content: "\F1A0";
}

.fa-google-drive:before {
  content: "\F3AA";
}

.fa-google-play:before {
  content: "\F3AB";
}

.fa-google-plus:before {
  content: "\F2B3";
}

.fa-google-plus-g:before {
  content: "\F0D5";
}

.fa-google-plus-square:before {
  content: "\F0D4";
}

.fa-google-wallet:before {
  content: "\F1EE";
}

.fa-graduation-cap:before {
  content: "\F19D";
}

.fa-gratipay:before {
  content: "\F184";
}

.fa-grav:before {
  content: "\F2D6";
}

.fa-gripfire:before {
  content: "\F3AC";
}

.fa-grunt:before {
  content: "\F3AD";
}

.fa-gulp:before {
  content: "\F3AE";
}

.fa-h-square:before {
  content: "\F0FD";
}

.fa-hacker-news:before {
  content: "\F1D4";
}

.fa-hacker-news-square:before {
  content: "\F3AF";
}

.fa-hand-holding:before {
  content: "\F4BD";
}

.fa-hand-holding-heart:before {
  content: "\F4BE";
}

.fa-hand-holding-usd:before {
  content: "\F4C0";
}

.fa-hand-lizard:before {
  content: "\F258";
}

.fa-hand-paper:before {
  content: "\F256";
}

.fa-hand-peace:before {
  content: "\F25B";
}

.fa-hand-point-down:before {
  content: "\F0A7";
}

.fa-hand-point-left:before {
  content: "\F0A5";
}

.fa-hand-point-right:before {
  content: "\F0A4";
}

.fa-hand-point-up:before {
  content: "\F0A6";
}

.fa-hand-pointer:before {
  content: "\F25A";
}

.fa-hand-rock:before {
  content: "\F255";
}

.fa-hand-scissors:before {
  content: "\F257";
}

.fa-hand-spock:before {
  content: "\F259";
}

.fa-hands:before {
  content: "\F4C2";
}

.fa-hands-helping:before {
  content: "\F4C4";
}

.fa-handshake:before {
  content: "\F2B5";
}

.fa-hashtag:before {
  content: "\F292";
}

.fa-hdd:before {
  content: "\F0A0";
}

.fa-heading:before {
  content: "\F1DC";
}

.fa-headphones:before {
  content: "\F025";
}

.fa-heart:before {
  content: "\F004";
}

.fa-heartbeat:before {
  content: "\F21E";
}

.fa-hips:before {
  content: "\F452";
}

.fa-hire-a-helper:before {
  content: "\F3B0";
}

.fa-history:before {
  content: "\F1DA";
}

.fa-hockey-puck:before {
  content: "\F453";
}

.fa-home:before {
  content: "\F015";
}

.fa-hooli:before {
  content: "\F427";
}

.fa-hospital:before {
  content: "\F0F8";
}

.fa-hospital-alt:before {
  content: "\F47D";
}

.fa-hospital-symbol:before {
  content: "\F47E";
}

.fa-hotjar:before {
  content: "\F3B1";
}

.fa-hourglass:before {
  content: "\F254";
}

.fa-hourglass-end:before {
  content: "\F253";
}

.fa-hourglass-half:before {
  content: "\F252";
}

.fa-hourglass-start:before {
  content: "\F251";
}

.fa-houzz:before {
  content: "\F27C";
}

.fa-html5:before {
  content: "\F13B";
}

.fa-hubspot:before {
  content: "\F3B2";
}

.fa-i-cursor:before {
  content: "\F246";
}

.fa-id-badge:before {
  content: "\F2C1";
}

.fa-id-card:before {
  content: "\F2C2";
}

.fa-id-card-alt:before {
  content: "\F47F";
}

.fa-image:before {
  content: "\F03E";
}

.fa-images:before {
  content: "\F302";
}

.fa-imdb:before {
  content: "\F2D8";
}

.fa-inbox:before {
  content: "\F01C";
}

.fa-indent:before {
  content: "\F03C";
}

.fa-industry:before {
  content: "\F275";
}

.fa-info:before {
  content: "\F129";
}

.fa-info-circle:before {
  content: "\F05A";
}

.fa-instagram:before {
  content: "\F16D";
}

.fa-internet-explorer:before {
  content: "\F26B";
}

.fa-ioxhost:before {
  content: "\F208";
}

.fa-italic:before {
  content: "\F033";
}

.fa-itunes:before {
  content: "\F3B4";
}

.fa-itunes-note:before {
  content: "\F3B5";
}

.fa-java:before {
  content: "\F4E4";
}

.fa-jenkins:before {
  content: "\F3B6";
}

.fa-joget:before {
  content: "\F3B7";
}

.fa-joomla:before {
  content: "\F1AA";
}

.fa-js:before {
  content: "\F3B8";
}

.fa-js-square:before {
  content: "\F3B9";
}

.fa-jsfiddle:before {
  content: "\F1CC";
}

.fa-key:before {
  content: "\F084";
}

.fa-keyboard:before {
  content: "\F11C";
}

.fa-keycdn:before {
  content: "\F3BA";
}

.fa-kickstarter:before {
  content: "\F3BB";
}

.fa-kickstarter-k:before {
  content: "\F3BC";
}

.fa-korvue:before {
  content: "\F42F";
}

.fa-language:before {
  content: "\F1AB";
}

.fa-laptop:before {
  content: "\F109";
}

.fa-laravel:before {
  content: "\F3BD";
}

.fa-lastfm:before {
  content: "\F202";
}

.fa-lastfm-square:before {
  content: "\F203";
}

.fa-leaf:before {
  content: "\F06C";
}

.fa-leanpub:before {
  content: "\F212";
}

.fa-lemon:before {
  content: "\F094";
}

.fa-less:before {
  content: "\F41D";
}

.fa-level-down-alt:before {
  content: "\F3BE";
}

.fa-level-up-alt:before {
  content: "\F3BF";
}

.fa-life-ring:before {
  content: "\F1CD";
}

.fa-lightbulb:before {
  content: "\F0EB";
}

.fa-line:before {
  content: "\F3C0";
}

.fa-link:before {
  content: "\F0C1";
}

.fa-linkedin:before {
  content: "\F08C";
}

.fa-linkedin-in:before {
  content: "\F0E1";
}

.fa-linode:before {
  content: "\F2B8";
}

.fa-linux:before {
  content: "\F17C";
}

.fa-lira-sign:before {
  content: "\F195";
}

.fa-list:before {
  content: "\F03A";
}

.fa-list-alt:before {
  content: "\F022";
}

.fa-list-ol:before {
  content: "\F0CB";
}

.fa-list-ul:before {
  content: "\F0CA";
}

.fa-location-arrow:before {
  content: "\F124";
}

.fa-lock:before {
  content: "\F023";
}

.fa-lock-open:before {
  content: "\F3C1";
}

.fa-long-arrow-alt-down:before {
  content: "\F309";
}

.fa-long-arrow-alt-left:before {
  content: "\F30A";
}

.fa-long-arrow-alt-right:before {
  content: "\F30B";
}

.fa-long-arrow-alt-up:before {
  content: "\F30C";
}

.fa-low-vision:before {
  content: "\F2A8";
}

.fa-lyft:before {
  content: "\F3C3";
}

.fa-magento:before {
  content: "\F3C4";
}

.fa-magic:before {
  content: "\F0D0";
}

.fa-magnet:before {
  content: "\F076";
}

.fa-male:before {
  content: "\F183";
}

.fa-map:before {
  content: "\F279";
}

.fa-map-marker:before {
  content: "\F041";
}

.fa-map-marker-alt:before {
  content: "\F3C5";
}

.fa-map-pin:before {
  content: "\F276";
}

.fa-map-signs:before {
  content: "\F277";
}

.fa-mars:before {
  content: "\F222";
}

.fa-mars-double:before {
  content: "\F227";
}

.fa-mars-stroke:before {
  content: "\F229";
}

.fa-mars-stroke-h:before {
  content: "\F22B";
}

.fa-mars-stroke-v:before {
  content: "\F22A";
}

.fa-maxcdn:before {
  content: "\F136";
}

.fa-medapps:before {
  content: "\F3C6";
}

.fa-medium:before {
  content: "\F23A";
}

.fa-medium-m:before {
  content: "\F3C7";
}

.fa-medkit:before {
  content: "\F0FA";
}

.fa-medrt:before {
  content: "\F3C8";
}

.fa-meetup:before {
  content: "\F2E0";
}

.fa-meh:before {
  content: "\F11A";
}

.fa-mercury:before {
  content: "\F223";
}

.fa-microchip:before {
  content: "\F2DB";
}

.fa-microphone:before {
  content: "\F130";
}

.fa-microphone-slash:before {
  content: "\F131";
}

.fa-microsoft:before {
  content: "\F3CA";
}

.fa-minus:before {
  content: "\F068";
}

.fa-minus-circle:before {
  content: "\F056";
}

.fa-minus-square:before {
  content: "\F146";
}

.fa-mix:before {
  content: "\F3CB";
}

.fa-mixcloud:before {
  content: "\F289";
}

.fa-mizuni:before {
  content: "\F3CC";
}

.fa-mobile:before {
  content: "\F10B";
}

.fa-mobile-alt:before {
  content: "\F3CD";
}

.fa-modx:before {
  content: "\F285";
}

.fa-monero:before {
  content: "\F3D0";
}

.fa-money-bill-alt:before {
  content: "\F3D1";
}

.fa-moon:before {
  content: "\F186";
}

.fa-motorcycle:before {
  content: "\F21C";
}

.fa-mouse-pointer:before {
  content: "\F245";
}

.fa-music:before {
  content: "\F001";
}

.fa-napster:before {
  content: "\F3D2";
}

.fa-neuter:before {
  content: "\F22C";
}

.fa-newspaper:before {
  content: "\F1EA";
}

.fa-nintendo-switch:before {
  content: "\F418";
}

.fa-node:before {
  content: "\F419";
}

.fa-node-js:before {
  content: "\F3D3";
}

.fa-notes-medical:before {
  content: "\F481";
}

.fa-npm:before {
  content: "\F3D4";
}

.fa-ns8:before {
  content: "\F3D5";
}

.fa-nutritionix:before {
  content: "\F3D6";
}

.fa-object-group:before {
  content: "\F247";
}

.fa-object-ungroup:before {
  content: "\F248";
}

.fa-odnoklassniki:before {
  content: "\F263";
}

.fa-odnoklassniki-square:before {
  content: "\F264";
}

.fa-opencart:before {
  content: "\F23D";
}

.fa-openid:before {
  content: "\F19B";
}

.fa-opera:before {
  content: "\F26A";
}

.fa-optin-monster:before {
  content: "\F23C";
}

.fa-osi:before {
  content: "\F41A";
}

.fa-outdent:before {
  content: "\F03B";
}

.fa-page4:before {
  content: "\F3D7";
}

.fa-pagelines:before {
  content: "\F18C";
}

.fa-paint-brush:before {
  content: "\F1FC";
}

.fa-palfed:before {
  content: "\F3D8";
}

.fa-pallet:before {
  content: "\F482";
}

.fa-paper-plane:before {
  content: "\F1D8";
}

.fa-paperclip:before {
  content: "\F0C6";
}

.fa-parachute-box:before {
  content: "\F4CD";
}

.fa-paragraph:before {
  content: "\F1DD";
}

.fa-paste:before {
  content: "\F0EA";
}

.fa-patreon:before {
  content: "\F3D9";
}

.fa-pause:before {
  content: "\F04C";
}

.fa-pause-circle:before {
  content: "\F28B";
}

.fa-paw:before {
  content: "\F1B0";
}

.fa-paypal:before {
  content: "\F1ED";
}

.fa-pen-square:before {
  content: "\F14B";
}

.fa-pencil-alt:before {
  content: "\F303";
}

.fa-people-carry:before {
  content: "\F4CE";
}

.fa-percent:before {
  content: "\F295";
}

.fa-periscope:before {
  content: "\F3DA";
}

.fa-phabricator:before {
  content: "\F3DB";
}

.fa-phoenix-framework:before {
  content: "\F3DC";
}

.fa-phone:before {
  content: "\F095";
}

.fa-phone-slash:before {
  content: "\F3DD";
}

.fa-phone-square:before {
  content: "\F098";
}

.fa-phone-volume:before {
  content: "\F2A0";
}

.fa-php:before {
  content: "\F457";
}

.fa-pied-piper:before {
  content: "\F2AE";
}

.fa-pied-piper-alt:before {
  content: "\F1A8";
}

.fa-pied-piper-hat:before {
  content: "\F4E5";
}

.fa-pied-piper-pp:before {
  content: "\F1A7";
}

.fa-piggy-bank:before {
  content: "\F4D3";
}

.fa-pills:before {
  content: "\F484";
}

.fa-pinterest:before {
  content: "\F0D2";
}

.fa-pinterest-p:before {
  content: "\F231";
}

.fa-pinterest-square:before {
  content: "\F0D3";
}

.fa-plane:before {
  content: "\F072";
}

.fa-play:before {
  content: "\F04B";
}

.fa-play-circle:before {
  content: "\F144";
}

.fa-playstation:before {
  content: "\F3DF";
}

.fa-plug:before {
  content: "\F1E6";
}

.fa-plus:before {
  content: "\F067";
}

.fa-plus-circle:before {
  content: "\F055";
}

.fa-plus-square:before {
  content: "\F0FE";
}

.fa-podcast:before {
  content: "\F2CE";
}

.fa-poo:before {
  content: "\F2FE";
}

.fa-pound-sign:before {
  content: "\F154";
}

.fa-power-off:before {
  content: "\F011";
}

.fa-prescription-bottle:before {
  content: "\F485";
}

.fa-prescription-bottle-alt:before {
  content: "\F486";
}

.fa-print:before {
  content: "\F02F";
}

.fa-procedures:before {
  content: "\F487";
}

.fa-product-hunt:before {
  content: "\F288";
}

.fa-pushed:before {
  content: "\F3E1";
}

.fa-puzzle-piece:before {
  content: "\F12E";
}

.fa-python:before {
  content: "\F3E2";
}

.fa-qq:before {
  content: "\F1D6";
}

.fa-qrcode:before {
  content: "\F029";
}

.fa-question:before {
  content: "\F128";
}

.fa-question-circle:before {
  content: "\F059";
}

.fa-quidditch:before {
  content: "\F458";
}

.fa-quinscape:before {
  content: "\F459";
}

.fa-quora:before {
  content: "\F2C4";
}

.fa-quote-left:before {
  content: "\F10D";
}

.fa-quote-right:before {
  content: "\F10E";
}

.fa-random:before {
  content: "\F074";
}

.fa-ravelry:before {
  content: "\F2D9";
}

.fa-react:before {
  content: "\F41B";
}

.fa-readme:before {
  content: "\F4D5";
}

.fa-rebel:before {
  content: "\F1D0";
}

.fa-recycle:before {
  content: "\F1B8";
}

.fa-red-river:before {
  content: "\F3E3";
}

.fa-reddit:before {
  content: "\F1A1";
}

.fa-reddit-alien:before {
  content: "\F281";
}

.fa-reddit-square:before {
  content: "\F1A2";
}

.fa-redo:before {
  content: "\F01E";
}

.fa-redo-alt:before {
  content: "\F2F9";
}

.fa-registered:before {
  content: "\F25D";
}

.fa-rendact:before {
  content: "\F3E4";
}

.fa-renren:before {
  content: "\F18B";
}

.fa-reply:before {
  content: "\F3E5";
}

.fa-reply-all:before {
  content: "\F122";
}

.fa-replyd:before {
  content: "\F3E6";
}

.fa-resolving:before {
  content: "\F3E7";
}

.fa-retweet:before {
  content: "\F079";
}

.fa-ribbon:before {
  content: "\F4D6";
}

.fa-road:before {
  content: "\F018";
}

.fa-rocket:before {
  content: "\F135";
}

.fa-rocketchat:before {
  content: "\F3E8";
}

.fa-rockrms:before {
  content: "\F3E9";
}

.fa-rss:before {
  content: "\F09E";
}

.fa-rss-square:before {
  content: "\F143";
}

.fa-ruble-sign:before {
  content: "\F158";
}

.fa-rupee-sign:before {
  content: "\F156";
}

.fa-safari:before {
  content: "\F267";
}

.fa-sass:before {
  content: "\F41E";
}

.fa-save:before {
  content: "\F0C7";
}

.fa-schlix:before {
  content: "\F3EA";
}

.fa-scribd:before {
  content: "\F28A";
}

.fa-search:before {
  content: "\F002";
}

.fa-search-minus:before {
  content: "\F010";
}

.fa-search-plus:before {
  content: "\F00E";
}

.fa-searchengin:before {
  content: "\F3EB";
}

.fa-seedling:before {
  content: "\F4D8";
}

.fa-sellcast:before {
  content: "\F2DA";
}

.fa-sellsy:before {
  content: "\F213";
}

.fa-server:before {
  content: "\F233";
}

.fa-servicestack:before {
  content: "\F3EC";
}

.fa-share:before {
  content: "\F064";
}

.fa-share-alt:before {
  content: "\F1E0";
}

.fa-share-alt-square:before {
  content: "\F1E1";
}

.fa-share-square:before {
  content: "\F14D";
}

.fa-shekel-sign:before {
  content: "\F20B";
}

.fa-shield-alt:before {
  content: "\F3ED";
}

.fa-ship:before {
  content: "\F21A";
}

.fa-shipping-fast:before {
  content: "\F48B";
}

.fa-shirtsinbulk:before {
  content: "\F214";
}

.fa-shopping-bag:before {
  content: "\F290";
}

.fa-shopping-basket:before {
  content: "\F291";
}

.fa-shopping-cart:before {
  content: "\F07A";
}

.fa-shower:before {
  content: "\F2CC";
}

.fa-sign:before {
  content: "\F4D9";
}

.fa-sign-in-alt:before {
  content: "\F2F6";
}

.fa-sign-language:before {
  content: "\F2A7";
}

.fa-sign-out-alt:before {
  content: "\F2F5";
}

.fa-signal:before {
  content: "\F012";
}

.fa-simplybuilt:before {
  content: "\F215";
}

.fa-sistrix:before {
  content: "\F3EE";
}

.fa-sitemap:before {
  content: "\F0E8";
}

.fa-skyatlas:before {
  content: "\F216";
}

.fa-skype:before {
  content: "\F17E";
}

.fa-slack:before {
  content: "\F198";
}

.fa-slack-hash:before {
  content: "\F3EF";
}

.fa-sliders-h:before {
  content: "\F1DE";
}

.fa-slideshare:before {
  content: "\F1E7";
}

.fa-smile:before {
  content: "\F118";
}

.fa-smoking:before {
  content: "\F48D";
}

.fa-snapchat:before {
  content: "\F2AB";
}

.fa-snapchat-ghost:before {
  content: "\F2AC";
}

.fa-snapchat-square:before {
  content: "\F2AD";
}

.fa-snowflake:before {
  content: "\F2DC";
}

.fa-sort:before {
  content: "\F0DC";
}

.fa-sort-alpha-down:before {
  content: "\F15D";
}

.fa-sort-alpha-up:before {
  content: "\F15E";
}

.fa-sort-amount-down:before {
  content: "\F160";
}

.fa-sort-amount-up:before {
  content: "\F161";
}

.fa-sort-down:before {
  content: "\F0DD";
}

.fa-sort-numeric-down:before {
  content: "\F162";
}

.fa-sort-numeric-up:before {
  content: "\F163";
}

.fa-sort-up:before {
  content: "\F0DE";
}

.fa-soundcloud:before {
  content: "\F1BE";
}

.fa-space-shuttle:before {
  content: "\F197";
}

.fa-speakap:before {
  content: "\F3F3";
}

.fa-spinner:before {
  content: "\F110";
}

.fa-spotify:before {
  content: "\F1BC";
}

.fa-square:before {
  content: "\F0C8";
}

.fa-square-full:before {
  content: "\F45C";
}

.fa-stack-exchange:before {
  content: "\F18D";
}

.fa-stack-overflow:before {
  content: "\F16C";
}

.fa-star:before {
  content: "\F005";
}

.fa-star-half:before {
  content: "\F089";
}

.fa-staylinked:before {
  content: "\F3F5";
}

.fa-steam:before {
  content: "\F1B6";
}

.fa-steam-square:before {
  content: "\F1B7";
}

.fa-steam-symbol:before {
  content: "\F3F6";
}

.fa-step-backward:before {
  content: "\F048";
}

.fa-step-forward:before {
  content: "\F051";
}

.fa-stethoscope:before {
  content: "\F0F1";
}

.fa-sticker-mule:before {
  content: "\F3F7";
}

.fa-sticky-note:before {
  content: "\F249";
}

.fa-stop:before {
  content: "\F04D";
}

.fa-stop-circle:before {
  content: "\F28D";
}

.fa-stopwatch:before {
  content: "\F2F2";
}

.fa-strava:before {
  content: "\F428";
}

.fa-street-view:before {
  content: "\F21D";
}

.fa-strikethrough:before {
  content: "\F0CC";
}

.fa-stripe:before {
  content: "\F429";
}

.fa-stripe-s:before {
  content: "\F42A";
}

.fa-studiovinari:before {
  content: "\F3F8";
}

.fa-stumbleupon:before {
  content: "\F1A4";
}

.fa-stumbleupon-circle:before {
  content: "\F1A3";
}

.fa-subscript:before {
  content: "\F12C";
}

.fa-subway:before {
  content: "\F239";
}

.fa-suitcase:before {
  content: "\F0F2";
}

.fa-sun:before {
  content: "\F185";
}

.fa-superpowers:before {
  content: "\F2DD";
}

.fa-superscript:before {
  content: "\F12B";
}

.fa-supple:before {
  content: "\F3F9";
}

.fa-sync:before {
  content: "\F021";
}

.fa-sync-alt:before {
  content: "\F2F1";
}

.fa-syringe:before {
  content: "\F48E";
}

.fa-table:before {
  content: "\F0CE";
}

.fa-table-tennis:before {
  content: "\F45D";
}

.fa-tablet:before {
  content: "\F10A";
}

.fa-tablet-alt:before {
  content: "\F3FA";
}

.fa-tablets:before {
  content: "\F490";
}

.fa-tachometer-alt:before {
  content: "\F3FD";
}

.fa-tag:before {
  content: "\F02B";
}

.fa-tags:before {
  content: "\F02C";
}

.fa-tape:before {
  content: "\F4DB";
}

.fa-tasks:before {
  content: "\F0AE";
}

.fa-taxi:before {
  content: "\F1BA";
}

.fa-telegram:before {
  content: "\F2C6";
}

.fa-telegram-plane:before {
  content: "\F3FE";
}

.fa-tencent-weibo:before {
  content: "\F1D5";
}

.fa-terminal:before {
  content: "\F120";
}

.fa-text-height:before {
  content: "\F034";
}

.fa-text-width:before {
  content: "\F035";
}

.fa-th:before {
  content: "\F00A";
}

.fa-th-large:before {
  content: "\F009";
}

.fa-th-list:before {
  content: "\F00B";
}

.fa-themeisle:before {
  content: "\F2B2";
}

.fa-thermometer:before {
  content: "\F491";
}

.fa-thermometer-empty:before {
  content: "\F2CB";
}

.fa-thermometer-full:before {
  content: "\F2C7";
}

.fa-thermometer-half:before {
  content: "\F2C9";
}

.fa-thermometer-quarter:before {
  content: "\F2CA";
}

.fa-thermometer-three-quarters:before {
  content: "\F2C8";
}

.fa-thumbs-down:before {
  content: "\F165";
}

.fa-thumbs-up:before {
  content: "\F164";
}

.fa-thumbtack:before {
  content: "\F08D";
}

.fa-ticket-alt:before {
  content: "\F3FF";
}

.fa-times:before {
  content: "\F00D";
}

.fa-times-circle:before {
  content: "\F057";
}

.fa-tint:before {
  content: "\F043";
}

.fa-toggle-off:before {
  content: "\F204";
}

.fa-toggle-on:before {
  content: "\F205";
}

.fa-trademark:before {
  content: "\F25C";
}

.fa-train:before {
  content: "\F238";
}

.fa-transgender:before {
  content: "\F224";
}

.fa-transgender-alt:before {
  content: "\F225";
}

.fa-trash:before {
  content: "\F1F8";
}

.fa-trash-alt:before {
  content: "\F2ED";
}

.fa-tree:before {
  content: "\F1BB";
}

.fa-trello:before {
  content: "\F181";
}

.fa-tripadvisor:before {
  content: "\F262";
}

.fa-trophy:before {
  content: "\F091";
}

.fa-truck:before {
  content: "\F0D1";
}

.fa-truck-loading:before {
  content: "\F4DE";
}

.fa-truck-moving:before {
  content: "\F4DF";
}

.fa-tty:before {
  content: "\F1E4";
}

.fa-tumblr:before {
  content: "\F173";
}

.fa-tumblr-square:before {
  content: "\F174";
}

.fa-tv:before {
  content: "\F26C";
}

.fa-twitch:before {
  content: "\F1E8";
}

.fa-twitter:before {
  content: "\F099";
}

.fa-twitter-square:before {
  content: "\F081";
}

.fa-typo3:before {
  content: "\F42B";
}

.fa-uber:before {
  content: "\F402";
}

.fa-uikit:before {
  content: "\F403";
}

.fa-umbrella:before {
  content: "\F0E9";
}

.fa-underline:before {
  content: "\F0CD";
}

.fa-undo:before {
  content: "\F0E2";
}

.fa-undo-alt:before {
  content: "\F2EA";
}

.fa-uniregistry:before {
  content: "\F404";
}

.fa-universal-access:before {
  content: "\F29A";
}

.fa-university:before {
  content: "\F19C";
}

.fa-unlink:before {
  content: "\F127";
}

.fa-unlock:before {
  content: "\F09C";
}

.fa-unlock-alt:before {
  content: "\F13E";
}

.fa-untappd:before {
  content: "\F405";
}

.fa-upload:before {
  content: "\F093";
}

.fa-usb:before {
  content: "\F287";
}

.fa-user:before {
  content: "\F007";
}

.fa-user-circle:before {
  content: "\F2BD";
}

.fa-user-md:before {
  content: "\F0F0";
}

.fa-user-plus:before {
  content: "\F234";
}

.fa-user-secret:before {
  content: "\F21B";
}

.fa-user-times:before {
  content: "\F235";
}

.fa-users:before {
  content: "\F0C0";
}

.fa-ussunnah:before {
  content: "\F407";
}

.fa-utensil-spoon:before {
  content: "\F2E5";
}

.fa-utensils:before {
  content: "\F2E7";
}

.fa-vaadin:before {
  content: "\F408";
}

.fa-venus:before {
  content: "\F221";
}

.fa-venus-double:before {
  content: "\F226";
}

.fa-venus-mars:before {
  content: "\F228";
}

.fa-viacoin:before {
  content: "\F237";
}

.fa-viadeo:before {
  content: "\F2A9";
}

.fa-viadeo-square:before {
  content: "\F2AA";
}

.fa-vial:before {
  content: "\F492";
}

.fa-vials:before {
  content: "\F493";
}

.fa-viber:before {
  content: "\F409";
}

.fa-video:before {
  content: "\F03D";
}

.fa-video-slash:before {
  content: "\F4E2";
}

.fa-vimeo:before {
  content: "\F40A";
}

.fa-vimeo-square:before {
  content: "\F194";
}

.fa-vimeo-v:before {
  content: "\F27D";
}

.fa-vine:before {
  content: "\F1CA";
}

.fa-vk:before {
  content: "\F189";
}

.fa-vnv:before {
  content: "\F40B";
}

.fa-volleyball-ball:before {
  content: "\F45F";
}

.fa-volume-down:before {
  content: "\F027";
}

.fa-volume-off:before {
  content: "\F026";
}

.fa-volume-up:before {
  content: "\F028";
}

.fa-vuejs:before {
  content: "\F41F";
}

.fa-warehouse:before {
  content: "\F494";
}

.fa-weibo:before {
  content: "\F18A";
}

.fa-weight:before {
  content: "\F496";
}

.fa-weixin:before {
  content: "\F1D7";
}

.fa-whatsapp:before {
  content: "\F232";
}

.fa-whatsapp-square:before {
  content: "\F40C";
}

.fa-wheelchair:before {
  content: "\F193";
}

.fa-whmcs:before {
  content: "\F40D";
}

.fa-wifi:before {
  content: "\F1EB";
}

.fa-wikipedia-w:before {
  content: "\F266";
}

.fa-window-close:before {
  content: "\F410";
}

.fa-window-maximize:before {
  content: "\F2D0";
}

.fa-window-minimize:before {
  content: "\F2D1";
}

.fa-window-restore:before {
  content: "\F2D2";
}

.fa-windows:before {
  content: "\F17A";
}

.fa-wine-glass:before {
  content: "\F4E3";
}

.fa-won-sign:before {
  content: "\F159";
}

.fa-wordpress:before {
  content: "\F19A";
}

.fa-wordpress-simple:before {
  content: "\F411";
}

.fa-wpbeginner:before {
  content: "\F297";
}

.fa-wpexplorer:before {
  content: "\F2DE";
}

.fa-wpforms:before {
  content: "\F298";
}

.fa-wrench:before {
  content: "\F0AD";
}

.fa-x-ray:before {
  content: "\F497";
}

.fa-xbox:before {
  content: "\F412";
}

.fa-xing:before {
  content: "\F168";
}

.fa-xing-square:before {
  content: "\F169";
}

.fa-y-combinator:before {
  content: "\F23B";
}

.fa-yahoo:before {
  content: "\F19E";
}

.fa-yandex:before {
  content: "\F413";
}

.fa-yandex-international:before {
  content: "\F414";
}

.fa-yelp:before {
  content: "\F1E9";
}

.fa-yen-sign:before {
  content: "\F157";
}

.fa-yoast:before {
  content: "\F2B1";
}

.fa-youtube:before {
  content: "\F167";
}

.fa-youtube-square:before {
  content: "\F431";
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*!
 * Font Awesome Free 5.0.10 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/fa-brands-400.eot?dcd6364b5f436685f2ea48eb129863f1);
  src: url(/fonts/fa-brands-400.eot?dcd6364b5f436685f2ea48eb129863f1) format("embedded-opentype"), url(/fonts/fa-brands-400.woff2?2ac01f7650b5ab76bfebbc708928929e) format("woff2"), url(/fonts/fa-brands-400.woff?4b280becfd11224f26d35848eadf0a32) format("woff"), url(/fonts/fa-brands-400.ttf?c1367e975c8b834f9db493958d5c499a) format("truetype"), url(/fonts/fa-brands-400.svg?8f8fac65806eec82b4e04a7c3380cd44) format("svg");
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}

/*!
 * Font Awesome Free 5.0.10 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/fa-regular-400.eot?93cd9a877c794fe87f8ce84f189d304f);
  src: url(/fonts/fa-regular-400.eot?93cd9a877c794fe87f8ce84f189d304f) format("embedded-opentype"), url(/fonts/fa-regular-400.woff2?12717b4a013de862452c4ffcf4e1c264) format("woff2"), url(/fonts/fa-regular-400.woff?960d05e6858e73ff1caaa11cd5ba5363) format("woff"), url(/fonts/fa-regular-400.ttf?8473867ab90a0a07178c173123a9bb83) format("truetype"), url(/fonts/fa-regular-400.svg?649582a6076b3294a23dddc20b23f356) format("svg");
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/*!
 * Font Awesome Free 5.0.10 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/fa-solid-900.eot?303dc0631c4578227ea986e8832d3ad3);
  src: url(/fonts/fa-solid-900.eot?303dc0631c4578227ea986e8832d3ad3) format("embedded-opentype"), url(/fonts/fa-solid-900.woff2?84f351b3972185aed620f78489e48b2d) format("woff2"), url(/fonts/fa-solid-900.woff?2ebe0c1f8e212023f851f1ec3a2778eb) format("woff"), url(/fonts/fa-solid-900.ttf?1af49f83f4cbc0fb391659b71b3a21dc) format("truetype"), url(/fonts/fa-solid-900.svg?0f8d20430f50916766815593890a2e8b) format("svg");
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

#headerContainer,
#navWrapper,
#asideWrapper,
#mainContentWrapper,
#footerContainer {
  max-width: 1280px;
  margin: 0 auto;
}

#navMobile,
#navWrapper,
#asideWrapper,
#mainContentWrapper {
  margin: 1.2rem auto;
}

@media all and (max-width: 1280px) {
  #headerWrapper,
  #asideWrapper,
  #mainContentWrapper,
  #nav-mobile,
  #footerWrapper {
    padding: 0 0.6rem;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #EDEDED;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Lato", "Arial", sans-serif;
}

body::after {
  content: '';
  display: block;
  padding-bottom: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-size: 2.256789rem;
}

h2 {
  font-size: 1.756789rem;
}

h3 {
  font-size: 1.56789rem;
}

h4 {
  font-size: 1.256789rem;
}

h5 {
  font-size: 1.12345679rem;
}

h6 {
  font-size: 0.756789rem;
}

p {
  font-size: 1.1rem;
  line-height: 150%;
  font-weight: normal;
}

.sentence {
  font-size: 1.0987654321rem;
  font-weight: normal;
  line-height: initial;
}

.sentence::first-letter {
  font-size: 1.2987654321rem;
}

.sentence-important {
  font-size: 1.3rem;
  line-height: 1.35;
  padding: .6rem;
  color: #444;
}

.small-caps {
  text-transform: lowercase;
  font-variant: small-caps;
}

[name="att"] {
  color: red;
}

[name="war"] {
  color: yellow;
}

[name="fine"] {
  color: green;
}

[name="userValue"] {
  color: orange;
  shadow-color: 1px 1px black;
}

#headerContainer {
  font-size: 1.2em;
  color: #333;
  line-height: 0.65;
}

#headerContainer .titleContainer > a {
  font-size: 2em;
  color: #333;
}

#headerContainer .userContainer > .panel > a,
#headerContainer label {
  font-size: 1em;
  color: #333;
  text-align: right;
}

#headerContainer .panel select {
  font-size: 1.12345679rem;
}

.userMobilePanelButton {
  font-size: 3em;
  color: #AAA;
}

#navWrapper {
  font-size: 0;
}

#navWrapper > .nav > a {
  font-size: 1.3rem;
  color: #333;
  display: block;
  text-align: center;
  line-height: 1.4;
}

#navWrapper > .nav > a:hover {
  color: white;
}

#navWrapper > .nav i {
  font-size: initial;
}

#navWrapper > .nav .subNav {
  font-size: initial;
}

#navWrapper > .nav .subNav .subNavCol > p {
  font-size: 1.0987654321em;
}

#navWrapper > .nav .subNav .subNavCol > li > a {
  font-size: 1em;
  color: #333;
}

#navMobile {
  font-size: 1.4rem;
  color: #333;
  text-align: center;
}

#tfb_slidesA {
  font-size: 0;
}

.tfb_slides_p > a {
  font-size: 1rem;
  color: #ddd;
  line-height: 2;
}

#tfb_left,
#tfb_right {
  font-size: 2rem;
  color: white;
}

#tfb_dots {
  color: white;
}

#asideUsContainer {
  font-size: 1.2em;
  color: #333;
  text-align: right;
}

.userPanel > li > a {
  color: #333;
  display: block;
  font-size: 1.3rem;
  color: #333;
  text-align: right;
  line-height: 1.4;
}

.userPanel > li > a:hover {
  color: white;
}

#mainContentWrapper {
  letter-spacing: 1px;
  word-spacing: 1px;
}

#mainContentWrapper #subContainerPanel > p {
  font-size: 1.2em;
}

#mainContentWrapper #subContainerPanel > ol > li > a {
  font-size: 0.8em;
  color: #333;
}

#mainContentWrapper .content > p,
#mainContentWrapper .content li {
  font-size: 18px;
  padding: 0.6rem;
  margin: 0.6rem auto;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
}

#mainContentWrapper .content > li {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 150%;
}

#newsAdder > a {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.6em;
  color: #333;
  display: block;
  text-align: center;
  line-height: 1.4;
}

#newsAdder > a:hover {
  color: white;
  background-color: #71BEEE;
}

.news > .title > a {
  font-size: 1em;
  color: #333;
  background: #F2F2F2;
  display: block;
}

.news > .title > a:hover {
  color: white;
  background-color: #71BEEE;
}

.news > .details {
  font-size: 1.4em;
}

#calendar > p > a,
#map > p > a,
#collabs > p > a {
  font-size: 1.4rem;
  color: #333;
}

#calendar > p > a:hover,
#map > p > a:hover,
#collabs > p > a:hover {
  color: #71BEEE;
}

#calendar .calendarEvent {
  font-size: 1.1em;
  color: #333;
  display: block;
}

#calendar .calendarEvent:hover {
  color: white;
  background-color: #71BEEE;
}

#map .interHelper {
  text-align: center;
  font-size: 1.4em;
  color: #333;
  display: block;
}

#map .interHelper:hover {
  color: white;
  background-color: #71BEEE;
}

#footerContainer .footerContactContainer > a {
  font-size: 1.4em;
  color: #333;
  display: inline-block;
}

#footerContainer .footerContactContainer > a:hover {
  color: #333;
}

#footerContainer .footerContactContainer > a:nth-of-type(1):hover {
  background: rgba(57, 93, 163, 0.6);
  color: white;
}

#footerContainer .footerContactContainer > a:nth-of-type(2):hover {
  background: rgba(163, 10, 0, 0.6);
  color: white;
}

#footerContainer .moreAbout > a {
  font-size: 1em;
  color: #999;
}

#footerContainer .moreAbout > a:hover {
  color: #333;
}

input[type="checkbox"]:checked + span {
  color: green;
}

input[type="radio"]:checked + span {
  color: green;
}

[noselect] {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

[big="true"] {
  font-size: 2.256789rem !important;
}

[medium="true"] {
  font-size: 1.56789rem !important;
}

[center] {
  text-align: center !important;
}

[right] {
  text-align: right !important;
}

hr[breaker] {
  color: rgba(200, 200, 200, 0.2);
}

[err404] {
  background: #71BEEE;
  color: white;
  padding: 0.6rem;
  -webkit-box-shadow: 0 0 16px 1px #AAA;
          box-shadow: 0 0 16px 1px #AAA;
}

[err404] > img {
  width: 40%;
}

[global] > * {
  letter-spacing: 1px !important;
  word-spacing: 1px !important;
}

[global] ol > li {
  list-style-type: decimal !important;
  list-style: inside;
  margin-left: 1em !important;
}

[global] ul > li {
  list-style-type: disc !important;
  list-style: inside;
  margin-left: 1em !important;
}

[global] img {
  width: 100% !important;
  border: 1px solid #DDD !important;
  -webkit-transition: .3s filter;
  transition: .3s filter;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  display: block;
}

[global] img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

[global] div,
[global] p,
[global] ol,
[global] ul,
[global] li,
[global] a,
[global] span {
  margin: .6em 0 !important;
  font-size: 18px !important;
  padding: 0.6rem !important;
}

[global] div {
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
}

[global] a {
  color: green;
  -webkit-transition: .3s color;
  transition: .3s color;
}

[global] a:hover {
  color: #71BEEE;
}

[global] p > a,
[global] p > span,
[global] p > ol,
[global] p > ul,
[global] p > li {
  padding: 0 !important;
}

[global] div > a,
[global] div > span {
  padding: 0 !important;
}

[global] div > ol {
  margin: .6em 0 !important;
  padding: 0 !important;
}

[global] div > ul {
  margin: .6em 0 !important;
  padding: 0 !important;
}

[global] ol > li,
[global] ul > li,
[global] ol > li > a,
[global] ul > li > a {
  border: 0 !important;
  padding: 0 !important;
}

[warrContent] {
  margin: 0.6rem auto !important;
  background: #DADB65;
  color: #444;
}

#wrapper {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
}

#headerWrapper {
  max-width: 1920px;
  background: #F2F2F2;
  border-bottom: 1px solid #E0E0E0;
  -webkit-box-shadow: 0px 0px 2px 1px #E0E0E0;
          box-shadow: 0px 0px 2px 1px #E0E0E0;
  position: relative;
}

#headerWrapper #headerContainer {
  padding: 1.2rem 0;
  position: relative;
}

#headerWrapper #headerContainer .titleContainer {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

#headerWrapper #headerContainer .titleContainer::before {
  content: '';
  width: 2.6em;
  height: 2.6em;
  background-image: url(/images/logo.png?7c6d61c4f96b0f7dbfddbb556fea9934);
  background-repeat: no-repeat;
  background-size: 2.6em;
  padding: 0 .2rem;
  border-width: 0px 1px 0px 0px;
  border-color: #DDD;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
}

#headerWrapper #headerContainer .titleContainer a {
  margin-bottom: 3px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

#headerWrapper #headerContainer .titleContainer a::after {
  content: 'Zesp\F3\142   szk\F3\142   Teleinformatycznych i Elektronicznych';
  font-size: 0.85rem;
  line-height: 1;
  letter-spacing: 1.6px;
  display: block;
}

#headerWrapper #headerContainer .userContainer {
  width: 35%;
  position: relative;
}

#headerWrapper #headerContainer .userContainer > .aboutUser {
  margin: 0;
  padding: 0.6rem;
  border-width: 0px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

#headerWrapper #headerContainer .userContainer > .aboutUser > i {
  cursor: pointer;
}

#headerWrapper #headerContainer .userContainer .clicked {
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  background: #F2F2F2;
}

#headerWrapper #headerContainer .userContainer .panel {
  width: 100%;
  border-width: 0px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 3;
  background: #EDEDED;
  display: none;
}

#headerWrapper #headerContainer .userContainer .panel > a,
#headerWrapper #headerContainer .userContainer .panel label {
  padding: 0.6rem;
  margin: 0.6rem auto;
  text-transform: lowercase;
  font-variant: small-caps;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  display: block;
}

#headerWrapper #headerContainer .userContainer .panel select {
  text-transform: lowercase;
  font-variant: small-caps;
}

a[attr="user"] {
  -webkit-transition: .25s;
  transition: .25s;
}

a[attr="user"]:hover {
  background: #71BEEE;
  color: white;
  padding-right: 1.2rem !important;
}

.userMobilePanelButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  display: none;
}

.userMobilePanelButton > i {
  padding: 0.6rem;
  cursor: pointer;
}

#navWrapper {
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  position: relative;
  z-index: 2;
}

#navWrapper > .nav {
  text-transform: lowercase;
  font-variant: small-caps;
  -webkit-transition: background .13s;
  transition: background .13s;
}

#navWrapper > .nav:last-child {
  border: none;
}

#navWrapper > .nav:hover {
  background: #71BEEE;
}

#navWrapper > .nav > a {
  padding: .6rem 0;
  cursor: pointer;
}

#navWrapper > .nav > a i {
  padding-left: .6rem;
  vertical-align: middle;
}

#navWrapper > .nav .subNav {
  width: 100%;
  padding: 1em 0;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  background: #F2F2F2;
}

#navWrapper > .nav .subNav div[name="joinUs"] {
  width: 33.33333333%;
}

#navWrapper > .nav .subNav div[name="joinUs"]:nth-of-type(2) > a > img {
  max-height: 500px;
}

#navWrapper > .nav .subNav .subNavCol > p {
  text-align: left;
}

#navWrapper > .nav .subNav .subNavCol img {
  width: 100%;
  margin: .5em 0;
  max-height: 140px;
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
}

#navWrapper > .nav .subNav .subNavCol > li > a {
  border-width: 1px 0px 1px 0px;
  border-color: #EEE;
  border-style: solid;
  -webkit-transition: background .15s;
  transition: background .15s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

#navWrapper > .nav .subNav .subNavCol > li > a:hover {
  color: white;
  background: #71BEEE;
}

#navWrapper > .nav .subNav .subNavCol > li > a:hover > span {
  border-right: #71BEEE;
}

#navWrapper > .nav .subNav .subNavCol > li > a > span,
#navWrapper > .nav .subNav .subNavCol > li > a i {
  line-height: 1;
}

#navWrapper > .nav .subNav .subNavCol > li > a > span {
  padding: 0.6rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border-right: 1px solid #EEE;
  -webkit-transition: border-right .15s;
  transition: border-right .15s;
}

#navWrapper > .nav .subNav .subNavCol > li > a > i {
  padding: .6rem 1.2rem;
}

#navMobile {
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  cursor: pointer;
}

#navMobile:hover {
  background: #F2F2F2;
}

#navMobile > span,
#navMobile i {
  padding: .6rem .2rem;
  display: inline-block;
  vertical-align: middle;
}

#tfb_slidesA {
  width: 100%;
  /*This is your width of the slides*/
  -webkit-box-shadow: 0px 0px 2px #222;
          box-shadow: 0px 0px 2px #222;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#tfb_slidesA > #tfb_photos {
  -webkit-transition: 1s;
  transition: 1s;
}

#tfb_slidesA > #tfb_photos .tfb_photo {
  width: 100%;
  display: inline-block;
}

#tfb_slidesA > #tfb_photos .tfb_photo > img {
  width: 100%;
  min-height: 220px;
  max-height: 600px;
  /*This is your height of the slides*/
}

#tfb_slidesA > #tfb_photos .tfb_photo > .tfb_slides_p {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 25%;
  transform: translate(0, 25%);
  -ms-transform: translate(0, 25%);
  -webkit-transform: translate(0, 25%);
  z-index: 100;
}

#tfb_slidesA > #tfb_photos .tfb_photo > .tfb_slides_p a {
  padding: .2rem .5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  -webkit-transition: .15s all;
  transition: .15s all;
}

#tfb_slidesA > #tfb_photos .tfb_photo > .tfb_slides_p a:hover {
  color: #fff;
  background: #70bde5;
}

#tfb_slidesA > #tfb_left,
#tfb_slidesA #tfb_right {
  padding: 200% 1%;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

#tfb_slidesA > #tfb_left:hover,
#tfb_slidesA #tfb_right:hover {
  background: rgba(0, 0, 0, 0.7);
}

#tfb_slidesA #tfb_right {
  right: 0;
}

#tfb_slidesA #tfb_dots {
  padding: 4px;
  background: rgba(0, 0, 0, 0.4);
  white-space: normal;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  -webkit-transform: translate(-50%, -25%);
  z-index: 100;
}

#tfb_slidesA #tfb_dots > .dot {
  width: 16px;
  height: 16px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}

#tfb_slidesA #tfb_dots > .dot:hover {
  background: #ccc !important;
}

#asideUsContainer {
  width: 80%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #F2F2F2;
  border-left: 1px solid #DDD;
  z-index: 155;
  display: none;
}

#asideUsContainer > i {
  padding: 0.6rem;
  border-width: 0px 1px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: .13s background;
  transition: .13s background;
}

#asideUsContainer > i:hover {
  background: #DDD;
}

#asideUsContainer > .userName {
  padding: 0.6rem;
  margin: 1.2rem auto;
  border-bottom: 1px solid #DDD;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

#asideUsContainer > .userPanel {
  text-transform: lowercase;
  font-variant: small-caps;
}

#asideUsContainer > .userPanel > li {
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
}

#asideUsContainer > .userPanel > li > label,
#asideUsContainer > .userPanel > li a {
  padding: 0.6rem;
  display: block;
}

#mainContentWrapper #subContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

#mainContentWrapper #subContainer #subContainerPanel {
  width: 25%;
}

#mainContentWrapper #subContainer #subContainerPanel > p {
  border-bottom: 1px solid #DDD;
}

#mainContentWrapper #subContainer #subContainerPanel ol {
  padding: 0.6rem 0;
  background: rgba(100, 100, 100, 0.03);
}

#mainContentWrapper #subContainer #subContainerPanel ol > p {
  padding: 0 0.6rem;
  border-bottom: 1px solid #DDD;
  text-transform: lowercase;
  font-variant: small-caps;
}

#mainContentWrapper #subContainer #subContainerPanel ol > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .13s;
  transition: .13s;
  -webkit-transition-property: background, color, padding-left;
  transition-property: background, color, padding-left;
}

#mainContentWrapper #subContainer #subContainerPanel ol > li > a:hover {
  background: #71BEEE;
  color: white;
}

#mainContentWrapper #subContainer #subContainerPanel ol > li > a:hover > span {
  padding-left: 1rem;
}

#mainContentWrapper #subContainer #subContainerPanel ol > li > a > span,
#mainContentWrapper #subContainer #subContainerPanel ol > li > a i {
  -webkit-transition: .13s;
  transition: .13s;
  -webkit-transition-property: background, color, padding-left;
  transition-property: background, color, padding-left;
  padding: .6rem;
  line-height: 150%;
}

#mainContentWrapper #subContainer #subContainerPanel ol > li > a > span {
  width: 80%;
}

#mainContentWrapper #subContainer #subContainerPanel ol > li > a > i {
  width: 20%;
  text-align: center;
  cursor: pointer;
}

#mainContentWrapper #subContainer #content {
  width: 100%;
  padding: 0 0.6rem;
  border-width: 0px 1px 0px 1px;
  border-color: #DDD;
  border-style: solid;
}

#mainContentWrapper #subContainer #content .content {
  width: 100%;
}

#mainContentWrapper .content {
  margin: 1.2rem auto;
}

#mainContentWrapper .content:first-child {
  margin: 0;
}

#mainContentWrapper .content > p:first-child {
  border: none;
  padding: none;
  margin: 0;
}

#newsAdder {
  text-align: center;
  margin-bottom: 1.2rem;
}

#newsAdder > a {
  -webkit-transition: .13s all;
  transition: .13s all;
  padding: 0.6rem;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
}

#newsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: "flex-start";
  -ms-flex-align: "flex-start";
  align-items: "flex-start";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#newsWrapper > .news {
  width: 46%;
}

#newsWrapper > .news > .title,
#newsWrapper > .news .details,
#newsWrapper > .news .description {
  margin: 0.6rem auto;
}

#newsWrapper > .news > .title {
  margin-top: 0;
  -webkit-box-shadow: 0 0 2px 1px #DDD;
          box-shadow: 0 0 2px 1px #DDD;
}

#newsWrapper > .news > .title > a {
  width: 100%;
  padding: 0.6rem;
  -webkit-transition: .13s background;
  transition: .13s background;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#newsWrapper > .news > .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  padding: 0.6rem;
}

#newsWrapper > .news > .details > .author {
  color: green;
  text-shadow: 1px 1px #DDD;
  border-bottom: 1px solid #DDD;
}

#newsWrapper > .news > .details > .date {
  border-bottom: 1px solid #DDD;
}

#newsWrapper > .news > .picture {
  overflow: hidden;
}

#newsWrapper > .news > .picture > a {
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  display: block;
}

#newsWrapper > .news > .picture > a > img {
  width: 100%;
  -webkit-transition: .25s transform;
  transition: .25s transform;
  display: block;
}

#newsWrapper > .news > .picture > a > img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#newsWrapper > .news > .description {
  text-align: center;
  padding: .1rem;
}

#addonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  margin: 1.2rem auto;
}

#addonsContainer #calendar {
  width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#addonsContainer #map {
  width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#addonsContainer #calendar,
#addonsContainer #map,
#addonsContainer #collabs {
  width: 46%;
  text-transform: lowercase;
  font-variant: small-caps;
}

#addonsContainer #calendar > p,
#addonsContainer #map > p,
#addonsContainer #collabs > p {
  width: 100%;
  margin: 0 0 1.2rem;
  padding: 0.6rem;
  border-bottom: 1px solid #DDD;
}

#addonsContainer #calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#addonsContainer #calendar > .calendarEvent {
  width: 100%;
  margin: .1em 0;
  -webkit-transition: background .13s;
  transition: background .13s;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#addonsContainer #calendar > .calendarEvent:hover > span:nth-of-type(2) {
  border-left: 1px solid #71BEEE;
}

#addonsContainer #calendar > .calendarEvent span {
  padding: 1.2rem;
  line-height: 1;
}

#addonsContainer #calendar > .calendarEvent span:nth-of-type(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid #DDD;
  -webkit-transition: .13s border-left;
  transition: .13s border-left;
}

#addonsContainer #map > div {
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  overflow: hidden;
  position: relative;
}

#addonsContainer #map > div:hover .interHelper {
  display: block;
}

#addonsContainer #map > div > img {
  width: 100%;
  display: block;
}

#addonsContainer #map .interHelper {
  width: 100%;
  padding: 1.2rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  border: none;
  background: rgba(200, 200, 200, 0.9);
  z-index: 1;
  -webkit-transition: .13s background;
  transition: .13s background;
  display: none;
}

#collabs {
  width: 100%;
  clear: both;
}

#collabs .collabContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: "flex-start";
  -ms-flex-align: "flex-start";
  align-items: "flex-start";
  -webkit-box-pack: "flex-start";
      -ms-flex-pack: "flex-start";
          justify-content: "flex-start";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#collabs .collabContainer .collab {
  width: 12.5%;
  padding: 0.6rem;
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  -webkit-box-shadow: 0px 0px 15px 5px #ddd inset;
          box-shadow: 0px 0px 15px 5px #ddd inset;
}

#collabs .collabContainer .collab > a > img {
  width: 100%;
  height: 100px;
  -webkit-transition: .13s all;
  transition: .13s all;
  vertical-align: middle;
}

#collabs .collabContainer .collab:hover > a > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#schoolContact {
  margin: 1% 0;
  padding: 0 4%;
}

#schoolContact > table {
  margin: 0 auto;
  text-align: left;
}

#schoolContact > table th {
  padding-right: 60px;
}

@media all and (max-width: 480px) {
  #schoolContact > table th {
    padding: 0;
  }

  #schoolContact > table th,
  #schoolContact > table td {
    width: 100%;
    font-size: 1em;
    text-align: center;
    display: table;
  }
}

#gallery_folders {
  font-size: 10em;
  text-align: center;
}

#gallery_folders > .folder {
  width: 500px;
  margin: 1em auto;
  font-size: 0;
  border: 1px solid rgba(160, 160, 160, 0.5);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  display: inline-block;
}

#gallery_folders > .folder > a > img {
  width: 100%;
  height: 300px;
  vertical-align: bottom;
}

@media all and (max-width: 560px) {
  #gallery_folders > .folder > a > img {
    height: auto;
  }
}

#gallery_folders > .folder:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#gallery_folders > .folder:hover .gallery-header {
  color: #fff;
  background: #70bde5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#gallery_folders > .folder .gallery-header {
  width: 100%;
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  background: rgba(100, 100, 100, 0.1);
  font-size: 1rem;
  color: black;
  text-align: center;
  font-variant: small-caps;
}

#gallery_folders > .folder .gallery-header span {
  width: 90%;
  padding: .4em 0 .4em .4em;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

@media all and (max-width: 560px) {
  #gallery_folders > .folder {
    width: 90%;
  }
}

#formSignReg {
  margin: 3.6rem 0;
  padding: 1.2rem 0;
  background: #F2F2F2;
  -webkit-box-shadow: 0px 0px 1px 2px #F2F2F2;
          box-shadow: 0px 0px 1px 2px #F2F2F2;
}

#formSignReg #formWrapper {
  font-size: 1.2em;
  text-align: center;
}

#formSignReg #formWrapper > hr {
  color: #DDD;
  border: 1px solid #DDD;
}

#formSignReg #formWrapper > #formTable {
  width: 100%;
  margin: 0 auto;
  border-spacing: 2em 1.4em;
}

#formSignReg #formWrapper > #formTable td:nth-of-type(1) {
  width: 40%;
  background: #DDD;
  vertical-align: middle;
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  border-radius: .25em;
}

#formSignReg #formWrapper > #formTable td:nth-of-type(2) span {
  width: 100%;
  padding: .25em;
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  border-radius: .25em;
  background: #DDD;
  display: block;
}

#formSignReg #formWrapper input[type="text"],
#formSignReg #formWrapper [type="password"],
#formSignReg #formWrapper [type="email"] {
  width: 100%;
  padding: 0.6rem;
  font-size: 1em;
  border-width: 1px 1px 1px 1px;
  border-color: #888;
  border-style: solid;
  border-right-color: #bbb;
  border-radius: .25em;
  background: #D4D4D4;
}

#formSignReg #formWrapper input[type="text"]:focus,
#formSignReg #formWrapper [type="password"]:focus,
#formSignReg #formWrapper [type="email"]:focus {
  background: #eee;
}

#formSignReg #formWrapper input[type="submit"] {
  width: 100%;
  margin: 1.2rem auto;
  padding: .25em;
  font-size: 1.3em;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
  background: #DDD;
  display: block;
  cursor: pointer;
}

#formSignReg #formWrapper input[type="submit"]:hover {
  background: #CCC;
}

#formSignReg #formWrapper .formOption {
  margin: .25em;
  padding: .25em;
}

#formSignReg #formWrapper .formOption:hover {
  color: orange;
}

#formSignReg #formWrapper .aboutUser {
  margin: 1em 0 0;
}

#formSignReg .checkbox label {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

#userProfileContainer {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

#userProfileContainer > .userContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.6rem auto;
  border-width: 1px 0px 1px 0px;
  border-color: #DDD;
  border-style: solid;
}

#userProfileContainer > .userContent > span {
  padding: 0.6rem;
  display: block;
}

.behind img {
  width: 100%;
  border: 1px solid #DDD;
  margin: 0 auto;
  display: block;
}

.news_queue > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .25s all;
  transition: .25s all;
}

.news_queue > li:hover {
  background: #71BEEE;
}

.news_queue > li:hover > * {
  color: white;
}

.news_queue > li > .news_que_panel {
  text-align: center;
}

.news_queue > li > .news_que_panel > a {
  width: 50px;
  color: #333;
  padding: 0.6rem;
  display: inline-block;
  border-width: 1px 1px 1px 1px;
  border-color: #888;
  border-style: solid;
  border-radius: .25em;
  -webkit-transition: .25s all;
  transition: .25s all;
}

.news_queue > li > .news_que_panel > a:hover {
  background: #3F67A3;
  color: white;
}

.patrons {
  width: 140px;
  height: 200px;
  margin-right: 10px;
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  float: left;
}

.gallery {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.gallery > a {
  width: 33%;
  max-height: 300px;
  margin: 1px 0;
}

.gallery > a img {
  width: 100%;
  height: 100%;
  margin: 0;
}

#footerWrapper {
  width: 100%;
  background: #F2F2F2;
  padding: 1.2rem;
  border-top: 1px solid #DDD;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footerWrapper #footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footerWrapper #footerContainer > .footerContactContainer > a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  border-width: 1px 1px 1px 1px;
  border-color: #DDD;
  border-style: solid;
  border-radius: 50%;
}

#footerWrapper #footerContainer > .moreAbout {
  text-transform: lowercase;
  font-variant: small-caps;
  line-height: 40px;
}

#footerWrapper #footerContainer > .moreAbout > a {
  margin: 0 .25em;
}

#footerWrapper #footerContainer > .copyrights {
  line-height: 40px;
}

@media all and (max-width: 1280px) {
  #subContainerPanel {
    width: 34% !important;
  }
}

@media all and (max-width: 1024px) {
  .nav > a {
    font-size: 1rem !important;
  }

  .nav > a > i {
    vertical-align: text-top;
    padding-left: .3rem !important;
  }

  #calendar > .calendarEvent {
    font-size: .9em !important;
  }

  #calendar > .calendarEvent > span {
    padding: .6rem !important;
  }

  .interHelper {
    padding: .3rem !important;
    font-size: .9em !important;
  }
}

@media all and (max-width: 920px) {
  .collab {
    width: 20% !important;
  }

  #subContainerPanel {
    width: 34% !important;
  }
}

@media all and (max-width: 768px) {
  [name="promo"] {
    display: block;
  }

  #subContainer {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }

  #subContainer #subContainerPanel {
    width: 100% !important;
    font-size: 1.3rem !important;
    border-top: 1px solid #DDD;
    margin-top: 1.2rem;
  }

  #subContainer #content {
    width: 100% !important;
  }

  #headerContainer {
    text-align: center;
  }

  #headerContainer > .userContainer {
    display: none;
  }

  .userMobilePanelButton {
    display: block;
  }

  #navWrapper {
    display: none;
  }

  #navWrapper > .nav {
    width: 100%;
    border-width: 1px 0px 1px 0px;
    border-color: rgba(200, 200, 200, 0.2);
    border-style: solid;
  }

  #navWrapper > .nav > a {
    padding: .6rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    items-align: stretch;
  }

  #navWrapper > .nav > a > i {
    padding: 0 1.2rem !important;
  }

  #navWrapper > .nav .subNav {
    display: none;
  }

  #navWrapper > .nav .subNav .subNavCol {
    margin: 1.2em 0 0;
  }

  #navWrapper > .nav .subNav .subNavCol:first-child {
    margin: 0;
  }

  #navWrapper > .nav .subNav .subNavCol > p {
    padding: 0.6rem;
  }

  #navWrapper img {
    display: none;
  }

  #navWrapper div[name="joinUs"] {
    width: 100% !important;
  }

  #newsWrapper > .news > .title,
  #newsWrapper > .news .details,
  #newsWrapper > .news .description > p {
    padding: 0 !important;
    font-size: 1em !important;
  }

  .collab {
    width: 33% !important;
  }

  #formSignReg {
    margin-top: 0;
    padding-top: 0;
  }

  #formSignReg #formTable td {
    width: 100% !important;
    margin: 0.6rem auto;
    display: block;
  }

  #addonsContainer {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  #addonsContainer > #calendar,
  #addonsContainer #map {
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  #headerContainer {
    font-size: 1.2em !important;
  }

  #headerContainer .titleContainer > a {
    margin-bottom: 0 !important;
  }

  #headerContainer .titleContainer > a > span {
    display: none;
  }

  #headerContainer .titleContainer > a::after {
    content: 'ZSTiE' !important;
    font-size: 1.2em !important;
  }

  #formWrapper {
    font-size: 1em !important;
  }

  #formWrapper .formSentence {
    font-size: 1em !important;
  }

  #formWrapper .formOption {
    display: block;
  }
}

@media all and (max-width: 480px) {
  #headerContainer {
    text-align: left;
  }

  #newsWrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  #newsWrapper > .news {
    width: 100%;
    margin-bottom: .6rem;
  }

  #calendar,
  #map {
    width: 100%;
  }

  .collab {
    width: 50% !important;
  }

  #footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-justify: center !important;
    text-align: center;
  }

  #formTable {
    border-spacing: 0 !important;
  }

  .content p {
    font-size: 16px !important;
  }

  [global] div,
  [global] p {
    font-size: 16px !important;
  }

  [err404] > img {
    width: 100% !important;
  }
}

@media all and (min-width: 1280px) {
  #subContainerPanel > ol > li > a > i:hover {
    color: white;
    background: #3F67A3;
  }
}

@media all and (min-width: 920px) {
  .subNavCol > li > a > i:hover {
    background: #3F67A3;
  }
}

@media all and (min-width: 769px) {
  [name="promo"] {
    display: none;
  }

  #navWrapper {
    display: block !important;
  }

  #navMobile,
  #asideUsContainer {
    display: none !important;
  }

  #headerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav {
    width: calc(100% / 7);
    display: inline-block;
  }

  .nav:hover > .subNav {
    -webkit-animation: navAnimation .25s;
            animation: navAnimation .25s;
    -webkit-animation-delay: .13s;
            animation-delay: .13s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .nav .subNav {
    position: absolute;
    top: 100%;
    left: -9999%;
    z-index: -1;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@-webkit-keyframes navAnimation {
  from {
    top: 70%;
    opacity: 0;
    left: 0;
  }

  to {
    top: 100%;
    opacity: 1;
    left: 0;
  }
}

@keyframes navAnimation {
  from {
    top: 70%;
    opacity: 0;
    left: 0;
  }

  to {
    top: 100%;
    opacity: 1;
    left: 0;
  }
}

