/**
*DOCUMENT-RESET BY DANIEL GRODZICKI
*COPYRIGHT BY ZSTiE.pl // all rights reserved
*LAST-MODIFIED: 2017-12-01
*/
/*html,body{height: 100%; font-size: 18px;}
html,body,div,a,span,ol,ul,li,p,input,td,tr,table,textarea,h1,h2,h3,h4,h5,h6
{margin: 0; padding: 0; list-style-type: none; text-decoration: none; box-sizing: border-box;}
.reset{clear: both;}*/
a
{
	text-decoration: none;
}
*
{
	box-sizing: border-box;
}
li
{
	list-style: none;
}
p, ol
{
	margin: 0;
}
ol
{
	padding: 0;
}