#editorWrapper
{
	margin: $auto;
	text-align: center;

	.formTitle,
	.formDescription,
	#resultText,
	.checkbox,
	input[type="submit"],
	.formArticleBreaker,
	#editorPanel
	{
		margin: $auto;
		position: relative;
	}

	.formTitle,
	.formDescription,
	.formFile
	{	
		position: relative;
		&::after
		{
			content: "*";
			color: red;
			font-size: 1.6em;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(100%,-50%);
		}
		margin: $siteBreakMargin;
		input[type="text"], input[type="file"]
		{
			width: 100%;
			@include font-style(1.3em);
			padding: $sitePadding;
			@include small-caps;
		
		}

		input[type="file"]
		{
			font-size: 1em;
			border: 1px solid $shadowColor;
			background: $shadowColor;
		}

		.require
		{
			position: absolute;
			top: 30%;
			left: 100%;
			@include font-style(1.6em,red);
			-webkit-user-select: none; /* Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+/Edge */
			user-select: none; /* Standard */
		}

		.form-sentence
		{
			text-align: left;
			-webkit-user-select: none; /* Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+/Edge */
			user-select: none; /* Standard */
		}

		.charRemain
		{
			-webkit-user-select: none; /* Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+/Edge */
			user-select: none; /* Standard */
		}
	}

	#editorPanel
	{
		background: #ddd;
		margin: 1.2em auto 0 auto;
		padding: $sitePadding;
		@include font-style(1.1em,#666, left);
		@include border(1,1,0,1,#111,solid);
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */

		.editorSection
		{
			@include border(0,1,0,1,#bbb,solid);
			padding: 0 .2em;
			margin: .2em;
			display: inline-block;
			vertical-align: middle;

			input[type="color"]{
				border: 1px $shadowColor solid;
				width: 30px;
				padding: 0;
				vertical-align: middle;
			}

			.editorValue
			{
				padding: $sitePadding;
				cursor: pointer;
				-webkit-user-select: none; /* Safari */        
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* IE10+/Edge */
				user-select: none; /* Standard */
				transition: .3s;
				transition-property: background, color;

				&:hover
				{
					background: $siteMainHoverBgColor;
					color: $siteMainHoverColor;
				}

				> i
				{
					vertical-align: middle;
				}
			}

			&:first-child
			{
				border: none;
			}

			select[name="fontSizeSelector"]
			{
				width: 60px;
			}
		}
	}

	#resultText
	{
		min-width: 100%;
		max-width: 100%;
		min-height: 800px;
		background: #FFF;
		@include font-style(1.1em,0,left);
		padding: $sitePadding;
		@include border(0,1,1,1,#111,solid);
	}

	.checkbox
	{
		text-align: left;
		padding: .10em;

		input, span
		{
			vertical-align: middle;
		}

		span
		{
			-webkit-user-select: none; /* Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+/Edge */
			user-select: none; /* Standard */
		}
	}

	input[type="submit"]
	{
		padding: $sitePadding;
		background-color: #25D63D;
		@include border(1,1,1,1,#222,solid);
		cursor: pointer;

		&:hover
		{
			background-color: #27E341;
		}
	}

	.formArticleBreaker
	{
		color: rgba(0,0,0,0.1);
		margin: .6em auto .6em auto !important;
	}
}

ol > li{
	list-style-type: decimal !important;
	list-style: inside;
}

ul > li{
	list-style-type: disc !important;
	list-style: inside;
}