//Global, primary variables
$siteMaxWidth: 1920px;
$siteWidth: 1280px;

//colors
$siteMainColor: #333;
$siteBgColor: #EDEDED;
$siteFgColor: #ddd;
// $siteHbgColor: #480711;
// $siteHbgColor: #8C2A24;
// $siteHbgColor: #A10315;
$siteHbgColor: #F2F2F2; //#70bde5
$siteMainHoverBgColor: #71BEEE;//#70bde5; //#71BEEE
$siteMainHoverBgColorBoosted: #3F67A3;
$siteMainHoverColor: white;
$userColor: orange;

//subcolors
$siteMsgWarn: yellow; //also important
$siteMsgErr: red;
$siteMsgFine: green;
$siteBgWarn: yellow;
$siteBgErr: red;
$siteBgFine: green;
$shadowColor: #DDD;

//Position variables
$auto: 0 auto;
$mCenter: auto;

//const paddings, margins
$siteBreakMargin: 1.2rem auto;
$siteBreakMarginUp: 1.2rem auto 0;
$siteBreakMarginDown: 0 auto 1.2rem;
$siteBreakMarginLeft: auto 0 auto 1.2rem;
$siteBreakMarginRight: auto 1.2rem auto 0;
$siteBreakMarginHalf: .6rem auto;
$siteMargin: .6rem;
$siteLRMargin: 0 .6rem;
$siteUDMargin: .6rem 0;
$sitePadding: .6rem;
$siteBreakPadding: 1.2rem 0;
$siteBreakPaddingHalf: .6rem 0;
$siteLRPadding: 0 .6rem;
$siteUDPadding: 0 .6rem;

//const box-shadow
$siteMainShadow: 0px 0px 2px 2px $shadowColor;

//const
$h1: 2.256789rem;
$h2: 1.756789rem;
$h3: 1.56789rem;
$h4: 1.256789rem;
$h5: 1.123456789rem;
$h6: .756789rem;