#tfb_slidesA
{
	width: 100%; /*This is your width of the slides*/
	box-shadow: 0px 0px 2px #222;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	z-index: 1;

	>#tfb_photos
	{
		transition: 1s;

		.tfb_photo
		{
			width: 100%;
			display: inline-block;

			>img
			{
				width: 100%;
				min-height: 220px;
				max-height: 600px; /*This is your height of the slides*/
			}

			>.tfb_slides_p
			{
				width: 100%;
				background: rgba(0,0,0,.7);
				position: absolute;
				bottom: 25%;
				transform: translate(0, 25%);
				-ms-transform: translate(0, 25%);
				-webkit-transform: translate(0, 25%);
				z-index: 100;

				a
				{
					padding: .2rem .5rem;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					display: block;
					transition: .15s all;

					&:hover
					{
						color: #fff;
						background: #70bde5;
					}
				}
			}
		}
	}

	>#tfb_left, #tfb_right
	{
		padding: 200% 1%;
		cursor: pointer;
		position: absolute;
		z-index: 100;
		top: 50%;
		transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);

		&:hover
		{
			background: rgba(0,0,0,.7);
		}
	}

	#tfb_right {right: 0;}

	#tfb_dots
	{
		padding: 4px;
		background: rgba(0,0,0,0.4);
		white-space: normal;
		position: absolute;
		bottom: 3%;
		left: 50%;
		transform: translate(-50%, -25%);
		-ms-transform: translate(-50%, -25%);
		-webkit-transform: translate(-50%, -25%);
		z-index: 100;

		>.dot
		{
			width: 16px;
			height: 16px;
			margin: 0 4px;
			cursor: pointer;
			border: 1px solid white;
			border-radius: 50%;
			display: inline-block;

			&:hover
			{
				background: #ccc !important;
			}
		}
	}
}

#asideUsContainer
{
	width: 80%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	background: $siteHbgColor;
	border-left: 1px solid $shadowColor;
	z-index: 155;
	display: none;
	
	> i
		{
			padding: $sitePadding;
			@include border(0,1,1,0,$shadowColor, solid);
			position: absolute; 
			top: 0; 
			left: 0; 
			cursor: pointer;
			transition: .13s background;

			&:hover
			{
				background: $shadowColor;
			}
		}

	> .userName
	{
		padding: $sitePadding;
		margin: $siteBreakMargin;
		border-bottom: 1px solid $shadowColor;
		@include userSelectNone();
	}

	> .userPanel
	{
		@include small-caps;

		> li
		{
			@include border(1,0,1,0,$shadowColor,solid);
			
			> label, a
			{
				padding: $sitePadding;
				display: block;
			}
		}
	}
}