#mainContentWrapper
{
	#subContainer
	{
		@include flex(flex-start,0);
		#subContainerPanel
		{
			width: 25%;

			> p {border-bottom: 1px solid $shadowColor;}

			ol
			{
				padding: $siteBreakPaddingHalf;
				background: rgba(100, 100, 100, 0.03);

				> p
				{
					padding: $siteLRPadding;
					border-bottom: 1px solid $shadowColor;
					@include small-caps;
				}

				> li
				{
					> a
					{
						@include flex();
						transition: .13s;
						transition-property: background, color, padding-left;
						&:hover
						{
							background: $siteMainHoverBgColor;
							color: $siteMainHoverColor;
							> span {padding-left: 1rem}
						}

						> span, i{
							transition: .13s;
							transition-property: background, color, padding-left;
							padding: .6rem;
							line-height: 150%;
						}
						
						> span {width: 80%;}
						> i {width: 20%; text-align: center; cursor: pointer;}
					}

					
				}
			}
		}

		#content //not the same as .content !!!
		{
			width: 100%;
			padding: $siteLRPadding;
			@include border(0,1,0,1,$shadowColor,solid);
			
			.content{
				width: 100%;
			}
		}
	}

	.content
	{
		margin: $siteBreakMargin;

		&:first-child{margin: 0;}

		> p:first-child{
			border: none; padding: none; margin: 0;
		}
	}
}

#newsAdder
{
	text-align: center;
	margin-bottom: 1.2rem;

	> a
	{
		transition: .13s all;
		padding: $sitePadding;
		@include border(1,0,1,0,$shadowColor,solid);
	}
}
#newsWrapper
{
	@include flex('flex-start');
	flex-direction: row;
	flex-wrap: wrap;

	> .news
	{
		width: 46%;
		> .title, .details, .description{margin: $siteBreakMarginHalf;}
		> .title
		{
			margin-top: 0;
			box-shadow: 0 0 2px 1px $shadowColor;
			> a
			{
				width: 100%;
				padding: $sitePadding;
				transition: .13s background;
				@include border(1,0,1,0,$shadowColor,solid);
				@include ellipsis;
			}
		}

		> .details
		{
			@include flex();
			@include userSelectNone();
			padding: $sitePadding;

			> .author
			{
				color: $userColor;
				text-shadow: 1px 1px $shadowColor;
				border-bottom: 1px solid $shadowColor;
			}

			> .date
			{
				border-bottom: 1px solid $shadowColor;
			}
		}

		> .picture
		{
			overflow: hidden;

			> a
			{
				@include border(1,1,1,1,$shadowColor,solid);

				display: block;

				> img
				{
					width: 100%;
					transition: .25s transform;
					display: block;

					&:hover
					{
						transform: scale(1.02);
					}
				}
			}
			
		}

		> .description
		{
			text-align: center;
			padding: .1rem;
		}
	}
}

#addonsContainer
{
	@include flex();
	// align-items: stretch;
	@include border(1,0,1,0,$shadowColor,solid);
	margin: $siteBreakMargin;
	#calendar {width: 50%; align-self: flex-start;}
	#map {width: 50%; align-self: flex-start;}
	#calendar, #map, #collabs
	{
		width: 46%;
		@include small-caps;

		> p
		{
			width: 100%;
			margin: 0 0 1.2rem;
			padding: $sitePadding;
			border-bottom: 1px solid $shadowColor;
		}
	}
	#calendar
	{
		
		@include flex();
		flex-direction: column;

		> .calendarEvent
		{
			width: 100%;
			margin: .1em 0;
			transition: background .13s;
			@include border(1,0,1,0, $shadowColor, solid);
			@include flex(0,0);

			&:hover > span:nth-of-type(2)
			{
				border-left: 1px solid $siteMainHoverBgColor;
			}
			span
			{
				padding: $sitePadding*2;
				line-height: 1;

				&:nth-of-type(2)
				{
					@include ellipsis;
					border-left: 1px solid $shadowColor;
					transition: .13s border-left;
				}
			}
		}
	}

	#map
	{
		> div
		{
			@include border(1,1,1,1,$shadowColor,solid);
			overflow: hidden;
			position: relative;
			&:hover .interHelper{display: block;}

			> img {width: 100%; display: block;}
		}

		 .interHelper
		{
			width: 100%;
			padding: $sitePadding*2;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			border: none;
			background: rgba(200,200,200,.9);
			z-index: 1;
			transition: .13s background;
			display: none;
		}
	}
}

#collabs
{
	width: 100%;
	clear: both;
	
	.collabContainer
	{
		@include flex('flex-start', 'flex-start');
		flex-wrap: wrap;
		.collab
		{
			width: 12.5%;
			padding: $sitePadding;
			@include border(1,1,1,1,$shadowColor,solid);
			box-shadow: 0px 0px 15px 5px #ddd inset;

			> a > img
			{
				width: 100%;
				height: 100px;
				transition: .13s all;
				vertical-align: middle;
			}

			&:hover > a > img
			{
				transform: scale(1.1);
			}
		}
	}
}

#schoolContact
{
	margin: 1% 0;
	padding: 0 4%;

	>table
	{
		margin: $auto;
		@include font-style(0, 0, left);

		th
		{
			padding-right: 60px;
		}

		@media all and (max-width: 480px)
		{
			th
			{
				padding: 0;
			}

			th, td
			{
				width: 100%;
				@include font-style(1em, 0, center, 0,0,0);
				display: table;
			}
		}
	}
}

#gallery_folders 
{
	font-size: 10em;
	text-align: center;

	>.folder
	{
		width: 500px;
		margin: 1em auto;
		font-size: 0;
		border: 1px solid rgba(160,160,160,0.5);
		box-sizing: content-box;
		position: relative;
		display: inline-block;

		>a>img
		{
			width: 100%;
			height: 300px;
			vertical-align: bottom;

			@media all and (max-width: 560px)
			{
				height: auto;
			}
		}
	
	&:hover 
	{
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);

		.gallery-header
		{
			color: #fff;
			background: #70bde5;
			border-bottom: 1px solid rgba(0,0,0,.25);
		}
	}
	
		.gallery-header
		{
			width: 100%;
			border-bottom: 1px solid rgba(160,160,160,0.5);
			background: rgba(100,100,100,0.1);
			@include font-style(1rem,black,center);
			font-variant: small-caps;

			span
			{
				width: 90%;
				padding: .4em 0 .4em .4em;
				@include font-style(0,0,0,2);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
				vertical-align: middle;
			}
		}

		@media all and (max-width: 560px)
		{
			width: 90%;
		}
	}
}

#formSignReg
{
	margin: 3.6rem 0;
	padding: $siteBreakPadding;
	background: $siteHbgColor;
	box-shadow: 0px 0px 1px 2px $siteHbgColor;

	#formWrapper
	{
		> hr {color: #DDD; border: 1px solid #DDD}
		@include font-style(1.2em,0,center);

		> #formTable
		{
			width: 100%;
			margin: $auto;
			border-spacing: 2em 1.4em;

			td:nth-of-type(1)
			{
				width: 40%;
				background: $shadowColor;
				vertical-align: middle;
				@include border(1,1,1,1, $shadowColor,solid);
				border-radius: .25em;
			}

			td:nth-of-type(2)
			{
				span
				{
					width: 100%;
					padding: .25em;
					@include border(1,1,1,1, $shadowColor,solid);
					border-radius: .25em;
					background: $shadowColor;
					display: block;
				}
			}
		}

		input[type="text"],[type="password"], [type="email"]
		{
			width: 100%;
			padding: $sitePadding;
			@include font-style(1em);
			@include border(1,1,1,1, #888,solid);
			border-right-color: #bbb;
			border-radius: .25em;
			background: #D4D4D4;

			&:focus
			{
			background: #eee;
			}
		}

		input[type="submit"]
		{
			width: 100%;
			margin: $siteBreakMargin;
			padding: .25em;
			@include font-style(1.3em);
			@include border(1,0,1,0, $shadowColor,solid);
			background: #DDD;
			display: block;
			cursor: pointer;
			&:hover
			{
				background: #CCC;
			}
		}

		.formOption
		{
			margin: .25em;
			padding: .25em;

			&:hover
			{
			color: orange;
			}
		}

		.aboutUser
		{
			margin: 1em 0 0;
		}
	}

	.checkbox
	{
		label {@include userSelectNone();}
	}
}

#userProfileContainer
{
	@include userSelectNone();
	> .userContent
	{
		@include flex();
		margin: $siteBreakMarginHalf;
		@include border(1,0,1,0,$shadowColor,solid);

		> span
		{padding: $sitePadding;
			display: block;
		}
	}
}

.behind
{
	img {width: 100%; border: 1px solid $shadowColor; margin: $auto; display: block;}
}

.news_queue{
	> li {
		@include flex();
		transition: .25s all;
		&:hover{background: $siteMainHoverBgColor;
			> * {color: $siteMainHoverColor}
		}

		> .news_que_panel{
			text-align: center;
			> a{
				width: 50px;
				color: #333;
				padding: $sitePadding;
				display: inline-block;
				@include border(1,1,1,1,#888,solid);
				border-radius: .25em;
				transition: .25s all;

				&:hover
				{
					background: $siteMainHoverBgColorBoosted;
					color: $siteMainHoverColor;
				}
			}
		}
	}
}

.patrons
{
	width: 140px;
	height: 200px;
	margin-right: 10px;
	@include border(1,1,1,1,$shadowColor,solid);
	float: left;
}

.gallery{
	margin: 0;
	@include flex();
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	> a {
		width: 33%;
		max-height: 300px;
		margin: 1px 0;
		img{
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}
}