#footerWrapper
{
	width: 100%;
	background: $siteHbgColor;
	padding: $sitePadding*2;
	border-top: 1px solid $shadowColor;
	position: absolute;
	bottom: 0;
	left: 0;

	#footerContainer
	{
		@include flex();

		> .footerContactContainer
		{
			> a
			{
				width: 40px;
				height: 40px;
				line-height: 40px;
				margin: 0 2px;
				text-align: center;
				@include border(1,1,1,1,$shadowColor,solid);
				border-radius: 50%;
			}
		}

		> .moreAbout
		{
			@include small-caps;
			line-height: 40px;

			> a
			{
				margin: 0 .25em;
			}
		}

		> .copyrights
		{
			line-height: 40px;
		}
	}
}