#headerWrapper
{
	max-width: $siteMaxWidth;
	background: $siteHbgColor;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: 0px 0px 2px 1px #E0E0E0;
	position: relative;
	
	#headerContainer
	{
		padding: $siteBreakPadding;
		position: relative;

		.titleContainer
		{
			@include userSelectNone();
			&::before
			{
				content: '';
				width: 2.6em;
				height: 2.6em;
				background-image: url("../../images/logo.png");
				background-repeat: no-repeat;
				background-size: 2.6em;
				padding: 0 .2rem;
				@include border(0,1,0,0,$shadowColor,solid);
				display: inline-block;
				vertical-align: middle;
			}

			a
			{
				margin-bottom: 3px;
				letter-spacing: 2px;
				position: relative;
				display: inline-block;
				vertical-align: bottom;

				&::after
				{
					content: 'Zespół szkół Teleinformatycznych i Elektronicznych';
					@include font-style(.85rem,0,0,1);
					letter-spacing: 1.6px;
					display: block;
				}
			}
		}

		.userContainer
		{
			width: 35%;
			position: relative;

			> .aboutUser
			{
				margin: 0;
				padding: $sitePadding;
				@include border(0,0,1,0,$shadowColor,solid);
				@include flex();
				cursor: pointer;

				> i
				{
					cursor: pointer;
				}
			}

			.clicked
			{
				@include border(1,1,1,1,$shadowColor,solid);
				background: $siteHbgColor;
			}

			.panel
			{
				width: 100%;
				@include border(0,1,1,1,$shadowColor,solid);
				position: absolute;
				left: 0;
				top: 100%;
				z-index: 3;
				background: $siteBgColor;
				display: none;
				
				> a, label
				{
					padding: $sitePadding;
					margin: $siteBreakMarginHalf;
					@include small-caps;
					@include border(1,0,1,0,$shadowColor,solid);
					display: block;
				}

				select {@include small-caps}
			}
		}
	}
}

a[attr="user"]
{
	transition: .25s;

	&:hover
	{
		background: $siteMainHoverBgColor;
		color: $siteMainHoverColor;
		padding-right: 1.2rem !important;
	}
}

.userMobilePanelButton
{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);

	> i
	{
		padding: $sitePadding;
		cursor: pointer;
	}

	display: none;
}