@mixin userSelectNone
{
	-webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

@mixin ellipsis
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

////////////////////
//GLOBAL MIXINS
///////////////////

// DIMENSIONS OF WINDOWS
//BORDER STYLE --> (TOP, RIGHT, BOTTOM, LEFT, COLOR, STYLE, RADIUS, STYLES[TOP,RIGHT,BOTTOM,LEFT])
@mixin border($border-top: 0px, $border-right: 0px, $border-bottom: 0px, $border-left: 0px, $border-color: black, $border-style: solid, $border-radius: 0, $border-top-style: 0, $border-right-style: 0, $border-bottom-style: 0, $border-left-style: 0)
{
	@if ($border-top != 0 or $border-right != 0 or $border-bottom != 0 or $border-left != 0)
	{
		border-width: $border-top+px $border-right+px $border-bottom+px $border-left+px;
	}
	@if ($border-color != 0)
	{
		border-color: $border-color;
	}
	@if ($border-style != 0)
	{
		border-style: $border-style;
	}
	@if ($border-radius != 0)
	{
		border-radius: $border-radius;
	}
	@if ($border-top-style != 0 or $border-right-style != 0 or $border-bottom-style != 0 or $border-left-style != 0)
	{
		border-style: $border-top-style $border-right-style $border-bottom-style $border-left-style;
	}
}

// FONTS

//FONT STYLE --> (SIZE, COLOR, ALIGN, LINE-HEIGHT, STYLE, FAMILY)
@mixin font-style($fontS-size: 0, $fontS-color: 0, $fontS-align: 0, $fontS-lineHeight: 0, $fontS-style: 0, $fontS-family: 0)
{
	@if ($fontS-size != 0)
	{
		font-size: $fontS-size;
	}
	@if ($fontS-size == null)
	{
		font-size: 0;
	}
	@if ($fontS-color != 0)
	{
		color: $fontS-color;
	}
	@if ($fontS-align != 0)
	{
		text-align: $fontS-align;
	}
	@if ($fontS-lineHeight != 0)
	{
		line-height: $fontS-lineHeight;
	}
	@if ($fontS-lineHeight == null)
	{
		line-height: 0;
	}
	@if ($fontS-style != 0)
	{
		font-style: $fontS-style;
	}
	@if ($fontS-family != 0)
	{
		font-family: $fontS-family;
	}
}

// LINKS
//LINKS STYLE --> (SIZE, COLOR, BACKGROUND, HOVER, VISITED, ACTIVE, DISPLAY)
@mixin link-style($link-size: 1em, $link-color: 0, $link-background-color: 0, $link-hover-color: 0, $link-bg-hover-color: 0, $link-visited-color: 0, $link-active-color: 0, $link-display: 0)
{
	@if ($link-size != 0)
	{
		font-size: $link-size;
	}
	@if ($link-color != 0)
	{
		color: $link-color;
	}
	@if ($link-background-color != 0)
	{
		background: $link-background-color;
	}
	@if ($link-hover-color != 0)
	{
		&:hover
		{
			color: $link-hover-color;
			@if ($link-bg-hover-color != 0)
			{
				background-color: $link-bg-hover-color;
			}
		}
	}

	@if ($link-visited-color != 0)
	{
		&:hover{color: $link-visited-color;}
	}
	@if ($link-active-color != 0)
	{
		&:hover{color: $link-active-color;}
	}
	@if ($link-display != 0)
	{
		display: $link-display;
	}
}

@mixin floatCenter($floatDirection: true)
{
  margin: $mCenter;
  @if ($floatDirection == true){float: right;}@else{ float: left; }
}

@mixin flex($align: center, $justify: space-between)
{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @if ($align != 0)
  {
  	-webkit-box-align: $align;
	-moz-box-align: $align;
	-ms-flex-align: $align;
	-webkit-align-items: $align;
	align-items: $align;
  }
  @if ($justify != 0)
  {
  	justify-content: $justify;
  }
}

@mixin inline($inlineWidth: 0, $inlineCounter: 0, $inlineDisplay: inline-block)
{
	@if ($inlineWidth != 0)
	{
		@if ($inlineCounter != 0)
		{
			width: calc(#{$inlineWidth} / #{$inlineCounter});
		}
		@else
		{
			width: $inlineWidth;
		}
	}

	@if ($inlineDisplay != 0)
	{
		display: $inlineDisplay;
	}
}

@mixin shadow()
{
  -webkit-box-shadow: $siteMainShadow;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    $siteMainShadow;  /* Firefox 3.5 - 3.6 */
  box-shadow:         $siteMainShadow;
}

@mixin small-caps
{
	text-transform: lowercase;
	font-variant: small-caps;
}

@mixin h1
{
	font-size: $h1;
}
@mixin h2
{
	font-size: $h2;
}
@mixin h3
{
	font-size: $h3;
}
@mixin h4
{
	font-size: $h4;
}
@mixin h5
{
	font-size: $h5;
}
@mixin h6
{
	font-size: $h6;
}