#navWrapper
{
	@include border(1,0,1,0,$shadowColor,solid);
	position: relative;
	z-index: 2;

	> .nav
	{
		@include small-caps;
		&:last-child{border: none};
		transition: background .13s;
		&:hover{background: $siteMainHoverBgColor;}

		> a
		{
			padding: .6rem 0;
			cursor: pointer;
			i {padding-left: .6rem; vertical-align: middle;}
		}

		.subNav
		{
			width: 100%;
			padding: 1em 0;
			@include border(1,0,1,0, $shadowColor, solid);
			background: $siteHbgColor;
			div[name="joinUs"]{width: 33.33333333%;}
			div[name="joinUs"]:nth-of-type(2)>a>img{max-height: 500px;}
			.subNavCol
			{
				> p
				{
					text-align: left;
				}
				img
				{
					width: 100%;
					margin: .5em 0;
					max-height: 140px;
					@include border(1,1,1,1,$shadowColor,solid);
				}

				> li > a
				{
					@include border(1,0,1,0,#EEE,solid);
					transition: background .15s;
					@include flex();
					align-items: center;

					&:hover
					{
						color: $siteMainHoverColor;
						background: $siteMainHoverBgColor;

						> span{border-right: $siteMainHoverBgColor}
					}

					> span, i {line-height: 1;}
					> span
					{
						padding: $sitePadding;
						flex-grow: 2;
						border-right: 1px solid #EEE;
						transition: border-right .15s;
					}
					> i
					{
						padding: .6rem 1.2rem;
					}
				}
			}
		}
	}
}

#navMobile
{
	@include border(1,0,1,0,$shadowColor,solid); //temp also 2 on bottom, to change
	cursor: pointer;
	&:hover{background: $siteHbgColor;}

	> span, i
	{
		padding: .6rem .2rem;
		display: inline-block;
		vertical-align: middle;
	}
}