#headerContainer, #navWrapper, #asideWrapper, #mainContentWrapper, #footerContainer
{
	max-width: $siteWidth;
	margin: $auto;
}

#navMobile, #navWrapper, #asideWrapper, #mainContentWrapper
{
	margin: $siteBreakMargin;
}

#headerWrapper, #asideWrapper, #mainContentWrapper, #nav-mobile, #footerWrapper
{
	@media all and (max-width: 1280px)
	{
		padding: $siteLRPadding;
	}
}