//fonts, globals
@media all and (max-width: 1280px){
	#subContainerPanel {width: 34% !important;}
}
@media all and (max-width: 1024px)
{
	.nav > a
	{
		font-size: 1rem !important;
	}

	.nav > a > i {vertical-align: text-top; padding-left: .3rem !important}


	#calendar
	{
		> .calendarEvent
		{
			font-size: .9em !important;

			> span
			{
				padding: .6rem !important;
			}
		}
	}

	.interHelper
	{
		padding: .3rem !important;
		font-size: .9em !important;
	}
}
@media all and (max-width: 920px)
{
	.collab{width: 20% !important;}
	#subContainerPanel {width: 34% !important}
}
//tablets
@media all and (max-width: 768px)
{
	[name="promo"]{display: block;}
	#subContainer{
		flex-direction: column-reverse !important;
		#subContainerPanel {width: 100% !important; font-size: 1.3rem !important; border-top: 1px solid $shadowColor; margin-top: 1.2rem;}
		#content {width: 100% !important;}
	}
	
	#headerContainer
	{
		text-align: center;
		> .userContainer{display: none;}
	}
	
	.userMobilePanelButton
	{
		display: block;
	}

	#navWrapper
	{
		display: none;

		> .nav
		{
			width: 100%;
			@include border(1,0,1,0,rgba(200,200,200,.2),solid);
			> a
			{
				padding: .6rem !important;
				@include flex();
				items-align: stretch;

				> i
				{
					padding: 0 1.2rem !important;
				}
			}

			.subNav
			{
				display: none;

				.subNavCol
				{
					&:first-child{margin: 0;}
					margin: 1.2em 0 0;

					> p
					{
						padding: $sitePadding;
					}
				}
			}
		}
			//all pictures in navigation
			img {display: none;}

			//reset divs to width100
			div[name="joinUs"]{width: 100% !important;}
	}

	#newsWrapper
	{
		> .news
		{
			> .title, .details, .description > p
			{
				padding: 0 !important;
				font-size: 1em !important;
			}
		}
	}

	.collab{width: 33% !important;}

	#formSignReg {margin-top: 0; padding-top: 0;}
	#formSignReg #formTable td
	{
		width: 100% !important;
		margin: $siteBreakMarginHalf;
		display: block;
	}

	#addonsContainer{
		flex-direction: column !important;

		> #calendar, #map
		{
			width: 100%;
		}
	}
}
//small-screens
@media all and (max-width: 640px)
{
	#headerContainer
	{
		font-size: 1.2em !important;

		.titleContainer
		{
			> a
			{
				margin-bottom: 0 !important;
				> span
				{
					display: none;
				}

				&::after
				{
					content: 'ZSTiE' !important;
					font-size: 1.2em !important;
				}
			}
		}
	}

	#formWrapper
	{
		font-size: 1em !important;

		.formSentence
		{
			font-size: 1em !important;
		}

		.formOption
		{
			display: block;
		}
	}
}
//mobile
@media all and (max-width: 480px)
{
	#headerContainer
	{
		text-align: left;
	}
	
	#newsWrapper
	{
		flex-direction: column !important;

		> .news
		{
			width: 100%;
			margin-bottom: .6rem;
		}
	}

	#calendar, #map
	{
		width: 100%;
	}

	.collab{width: 50% !important;}

	#footerContainer
	{
		flex-direction: column;
		flex-justify: center !important;
		text-align: center;
	}

	#formTable
	{
		border-spacing: 0 !important;
	}

	.content {
		p {font-size: 16px !important}
	}
	[global]{
		div, p{font-size: 16px !important}
	}

	[err404]{ > img {width: 100% !important}}
}

//big-screens
@media all and (min-width: 1280px){
	#subContainerPanel > ol > li > a > i:hover {color: $siteMainHoverColor; background: $siteMainHoverBgColorBoosted;}
}
@media all and (min-width: 920px)
{.subNavCol > li > a > i {&:hover{background: $siteMainHoverBgColorBoosted;}}}
@media all and (min-width: 769px)
{
	//displays
	[name="promo"]{display: none;}
	#navWrapper
	{
		display: block !important;
	}

	#navMobile, #asideUsContainer
	{
		display: none !important;
	}

	#headerContainer
	{
		@include flex();
	}

	.nav
	{
		@include inline(100%, 7);

		&:hover > .subNav
		{
			animation: navAnimation .25s;
			animation-delay: .13s;
			animation-fill-mode: forwards;
			@include flex(0, space-around);
		}

		.subNav
		{
			position: absolute;
			top: 100%;
			left: -9999%;
			z-index: -1;
			display: flex !important;
		}
	}
}