@import url('https://fonts.googleapis.com/css?family=Lato:400,900&subset=latin-ext');
html{height: 100%;}
body
{
	min-height: 100%;
	margin: 0; padding: 0;
	position: relative;
	background-color: $siteBgColor;
	@include font-style(16px,0,0,1.25,0,('Lato','Arial', sans-serif));
	&::after {
		content:'';
		display:block;
		padding-bottom: 200px;
	}
}
h1,h2,h3,h4,h5,h6 {font-weight: normal; line-height: 1.5};
h1{font-size: $h1;}
h2{font-size: $h2;}
h3{font-size: $h3;}
h4{font-size: $h4;}
h5{font-size: $h5;}
h6{font-size: $h6;}

p
{
	font-size: 1.1rem;
	line-height: 150%;
	font-weight: normal;
}
.sentence
{
	font-size: 1.0987654321rem;
	font-weight: normal;
	line-height: initial;
}
.sentence::first-letter
{
	font-size: 1.2987654321rem;
}
.sentence-important
{
	@include font-style(1.3rem,0,0,1.35);
	padding: .6rem;
	color: $siteMsgWarn;
}

.small-caps
{
	text-transform: lowercase;
	font-variant: small-caps;
}

//-------- SITE GLOBAL TYPOGRAPHY --------//
[name="att"]{color: red} //attention
[name="war"]{color: yellow}
[name="fine"]{color: green}
[name="userValue"]{color: orange; shadow-color: 1px 1px black;}

//-------- SITE HEADER TYPOGRAPHY --------//
#headerContainer {
	@include font-style(1.2em, $siteMainColor,0, .65);

	.titleContainer > a {@include font-style(2em, $siteMainColor)}
	.userContainer > .panel > a, label {@include font-style(1em,$siteMainColor,right)}
	.panel select {@include font-style($h5)}
}
.userMobilePanelButton {@include font-style(3em, #AAA)}

//-------- SITE NAV TYPOGRAPHY --------//
#navWrapper {
	font-size: 0;

	> .nav {

		> a {
			@include link-style(1.3rem,$siteMainColor,0,$siteMainHoverColor,0,0,0,block);
			@include font-style(0,0,center,1.4);
		}

		i {font-size: initial;}

		.subNav {
			@include font-style(initial);

			.subNavCol
			{
				> p {font-size: 1.0987654321em}
				> li > a {@include font-style(1em,$siteMainColor)}
			}
		}
	}
}

#navMobile{@include font-style(1.4rem, #333, center)}

//-------- SITE ASIDE TYPOGRAPHY --------//

//SLIDER//
#tfb_slidesA {font-size: 0} //clear for display-inline.
.tfb_slides_p > a {@include font-style(1rem,#ddd,0,2)}
#tfb_left, #tfb_right {@include font-style(2rem,white)}
#tfb_dots {@include font-style(0,white)}

//USERNAV//
#asideUsContainer {@include font-style(1.2em,$siteMainColor,right)}
.userPanel > li > a {
	@include link-style(0,$siteMainColor,0,$siteMainHoverColor,0,0,0,block);
	@include font-style(1.3rem,$siteMainColor,right,1.4);
}

//-------- SITE CONTENT TYPOGRAPHY --------//
//CONTENT//
#mainContentWrapper {
	letter-spacing: 1px;
	word-spacing: 1px;
	//subsitesNav
	#subContainerPanel
	{
		> p{@include font-style(1.2em)}
		// > ol > p {@include font-style()}
		> ol > li > a {@include link-style(.8em,$siteMainColor)}
	}

	.content {
		> p, li {font-size: 18px; padding: $sitePadding; margin: $siteBreakMarginHalf; @include border(1,0,1,0,$shadowColor,solid);}
		> li {list-style-type: disc; list-style-position: inside; line-height: 150%;}
	}
}
//NEWS//
#newsAdder > a
{
	@include small-caps;
	@include link-style(1.6em, $siteMainColor,0, $siteMainHoverColor,$siteMainHoverBgColor,0,0 /*active*/, block);
	@include font-style(0,0,center,1.4);
}

.news {
	> .title > a {@include link-style(1em, $siteMainColor,$siteHbgColor, $siteMainHoverColor,$siteMainHoverBgColor,0,0 /*active*/, block)}
	> .details {@include font-style(1.4em)}
}

//CALENDAR, MAP, COLLABS//
#calendar, #map, #collabs {
	> p > a {@include link-style(1.4rem,#333,0,$siteMainHoverBgColor)}
}
#calendar .calendarEvent {@include link-style(1.1em,$siteMainColor,0,$siteMainHoverColor,$siteMainHoverBgColor,0,0,block)}
#map .interHelper{text-align: center; @include link-style(1.4em,$siteMainColor,0,$siteMainHoverColor,$siteMainHoverBgColor,0,0,block)}

//-------- SITE FOOTER TYPOGRAPHY --------//
#footerContainer {
	.footerContactContainer > a {
		@include link-style(1.4em,$siteMainColor,0,#333,0,0,0,inline-block);
		&:nth-of-type(1):hover{background: rgba(57,93,163,0.6); color: white};
		&:nth-of-type(2):hover{background: rgba(163,10,0,0.6); color: white};
	}

	.moreAbout > a {@include link-style(1em,#999,0,#333,0)}
}

input[type="checkbox"]:checked + span {color: green}
input[type="radio"]:checked + span {color: green}

[noselect]{@include userSelectNone()}

[big="true"]{font-size: 2.256789rem !important}
[medium="true"]{font-size: 1.56789rem !important}
[center]{text-align: center !important}
[right]{text-align: right !important;}
hr[breaker]{color: rgba(200,200,200,.2);}
[err404]{background: $siteMainHoverBgColor; color: $siteMainHoverColor; padding: $sitePadding; box-shadow: 0 0 16px 1px #AAA; > img{width: 40%;}}

[global]{
	> * {letter-spacing: 1px !important; word-spacing: 1px !important; }
	ol > li{
		list-style-type: decimal !important;
		list-style: inside;
		margin-left: 1em !important;
	}

	ul > li{
		list-style-type: disc !important;
		list-style: inside;
		margin-left: 1em !important;
	}

	//global const
	img {width: 100% !important; border: 1px solid $shadowColor !important;
		transition: .3s filter; filter: brightness(.8); &:hover {filter: brightness(1)}; display: block;}
	div, p, ol, ul, li, a, span {margin: .6em 0 !important; font-size: 18px !important; padding: $sitePadding !important;}
	div {@include border(1,0,1,0,$shadowColor,solid)}
	a {color: green; transition: .3s color; &:hover{color:$siteMainHoverBgColor;}}
	p > a,
	p > span,
	p > ol,
	p > ul,
	p > li{
		padding: 0 !important;
	}
	div > a,
	div > span{
		padding: 0 !important;
	}
	div > ol {margin: .6em 0 !important; padding: 0 !important;}
	div > ul {margin: .6em 0 !important; padding: 0 !important;}

	ol > li,
	ul > li,
	ol > li > a,
	ul > li > a {
		border: 0 !important;
		padding: 0 !important;
	}
}

[warrContent]{margin: $siteBreakMarginHalf !important; background: $siteBgWarn; color: $siteMsgWarn;}